{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
	            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
	
	            <div class="ah-search">
	            	<form method="get" action="{% url 'finance:bank_accounts' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>
	
	            <ul class="ah-actions actions a-alt">
	            	<li>
						<a title="Create Item" href="">
						<i class="zmdi zmdi-plus"></i>
						</a>
					</li>
                    {% if is_superuser or 'can_modify_bank_account' in user_instance.permissionlist %}
	               <li>
	                    <a href="{% url 'finance:edit_bank_account' pk=instance.pk %}"><i class="zmdi zmdi-edit"></i></a>
	                </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_bank_account' in user_instance.permissionlist %}
	                <li>
	                    <a data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_bank_account' pk=instance.pk %}" class="action-button redirect"><i class="zmdi zmdi-delete"></i></a>
	                </li>
                    {% endif %}      
	            </ul>
	       	 </div>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">IFSC</div>
                                    <small class="lgi-text">{{instance.ifsc}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Branch</div>
                                    <small class="lgi-text">{{instance.branch}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Account Type</div>
                                    <small class="lgi-text">{{instance.account_type}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Account Number</div>
                                    <small class="lgi-text">{{instance.account_no}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">First time balance</div>
                                    <small class="lgi-text">{{instance.first_time_balance|default:"-"}}</small>
                                </div>
                            </div>

                             <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Balance</div>
                                    <small class="lgi-text">{{instance.balance|default:"-"}}</small>
                                </div>
                            </div>

                         </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>                
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}