{% extends "base.html" %}
{% load i18n %}

{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                        {% if user in super_users or 'can_create_staff_payment' in user_instance.permissionlist %}
                            <li>
                                <a title="Create staff_category" href="{% url 'finance:create_staff_payment' %}">
                                    <i class="zmdi zmdi-plus"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}                               
                </ul>
            </div>
            
            <form class="reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}" enctype="multipart/form-data">
            	{% csrf_token %}
                <div id="c-grid" class="clearfix" data-columns="2">
					<div class="card m-b-0">
						<div class="card-header">
					        <h2>Basic Info <small></small></h2>
					    </div>
						<div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ payment_form.staff.id_for_label }}">
                                	{{ payment_form.staff.label }}
									{% if payment_form.staff.field.required %}
							    		<small class="star">*</small>
							    	{% endif %}							        	
						        	{% if payment_form.staff.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ payment_form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ payment_form.staff }}
                                
                                {% if payment_form.staff.errors %}
                                	<label class="error">{{ payment_form.staff.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line dtp-container">
                                <label for="{{ form.date.id_for_label }}">
                                    {{ form.date.label }}
                                    {% if form.date.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.date.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {% if is_create_page %}
                                    {% timezone user_time_zone %}
                                        <input id="{{ form.date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.date.html_name}}" placeholder="Enter date" value="{% now "m-d-Y" %}">
                                    {% endtimezone %}
                                {% else %}
                                    <input id="{{ form.date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.date.html_name}}" placeholder="Enter date" value="{{ form.date.value|date:'m-d-Y' }}">
                                {% endif %}                                 
                                {% if form.date.errors %}
                                    <label class="error">{{ form.date.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ payment_form.salary.id_for_label }}">
                                	{{ payment_form.salary.label }}
                                	{% if payment_form.salary.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if payment_form.salary.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ payment_form.salary.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ payment_form.salary }}
                                
                                {% if payment_form.salary.errors %}
                                	<label class="error">{{ payment_form.salary.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ payment_form.bonus.id_for_label }}">
                                    {{ payment_form.bonus.label }}
                                    {% if payment_form.bonus.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if payment_form.bonus.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ payment_form.bonus.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ payment_form.bonus }}
                                
                                {% if payment_form.bonus.errors %}
                                    <label class="error">{{ payment_form.bonus.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group fg-line credit">
                                        <label>Credit</label>
                                        <input id="credit" class="form-control" disabled type="text" value="0.00" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group fg-line debit">
                                        <label>Debit</label>
                                        <input id="debit" class="form-control" disabled type="text" value="0.00" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group fg-line">
                                <label>Total</label>
                                <input id="id_total" class="form-control" disabled type="text" value="0.00" />
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-0">
						<div class="card-header">
					        <h2>Transaction Details<small></small></h2>
					    </div>
						<div class="card-body card-padding">               
                        
                            <div class="form-group fg-line">
                                <label for="{{ form.transaction_mode.id_for_label }}">
                                	{{ form.transaction_mode.label }}
                                	{% if form.transaction_mode.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.transaction_mode.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.transaction_mode }}
                                
                                {% if form.transaction_mode.errors %}
                                	<label class="error">{{ form.transaction_mode.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.payment_mode.id_for_label }}">
                                	{{ form.payment_mode.label }}
                                	{% if form.payment_mode.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.payment_mode.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.payment_mode }}
                                
                                {% if form.payment_mode.errors %}
                                	<label class="error">{{ form.payment_mode.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line m-b-20">
                                <label for="{{ form.cheque_details.id_for_label }}">
                                	{{ form.cheque_details.label }}
                                	{% if form.cheque_details.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.cheque_details.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.cheque_details }}
                                
                                {% if form.cheque_details.errors %}
                                	<label class="error">{{ form.cheque_details.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="row">
	                            <div class="form-group col-sm-5 m-b-20">
                            		<div class="toggle-switch">
								        <label class="ts-label" for="{{ form.is_cheque_withdrawed.id_for_label }}">
											{{ form.is_cheque_withdrawed.label }}
		                                	{% if form.is_cheque_withdrawed.field.required %}
								        		<small class="star">*</small>
								        	{% endif %}
								        	
								        	{% if form.is_cheque_withdrawed.help_text %}
								        		<span data-original-title="Field Info" title="" data-content="{{ form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
		                                    {% endif %}
								        </label>
								        {{ form.is_cheque_withdrawed }}
								        <label class="ts-helper" for="ts1"></label>
								    </div>
								    
								    {% if form.is_cheque_withdrawed.errors %}
								    	<label class="error">{{ form.is_cheque_withdrawed.errors.as_text }}</label>
							    {% endif %}
                        		</div>
                    		</div>

                            <div class="form-group fg-line m-b-20">
                                <label for="{{ form.card_details.id_for_label }}">
                                	{{ form.card_details.label }}
                                	{% if form.card_details.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.card_details.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.card_details }}
                                
                                {% if form.card_details.errors %}
                                	<label class="error">{{ form.card_details.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-20">
                                <label for="{{ form.payment_to.id_for_label }}">
                                	{{ form.payment_to.label }}
                                	{% if form.payment_to.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.payment_to.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.payment_to }}
                                
                                {% if form.payment_to.errors %}
                                	<label class="error">{{ form.payment_to.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-20">
                                <label for="{{ form.bank_account.id_for_label }}">
                                	{{ form.bank_account.label }}
                                	{% if form.bank_account.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.bank_account.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.bank_account }}
                                
                                {% if form.bank_account.errors %}
                                	<label class="error">{{ form.bank_account.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-20">
                                <label for="{{ form.cash_account.id_for_label }}">
                                	{{ form.cash_account.label }}
                                	{% if form.cash_account.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.cash_account.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.cash_account }}
                                
                                {% if form.cash_account.errors %}
                                	<label class="error">{{ form.cash_account.errors.as_text }}</label>
                                {% endif %}
                            </div>                          
					</div> 
				</div> 
                
                <br class="clear" />
            
         	</div>
         	
         	<div class="m-t-20">
			    <button type="submit" class="btn btn-info waves-effect">Submit</button>
			</div>
     	</form>  
         </div> 
    </section>

{% endblock %}

{% block static %}
	{% load static %}
	{{ form.media }}
    {{ payment_form.media }}
	<script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script type="text/javascript">
		function showHideCreditUser(){
			var category = $('#id_transaction_category option:selected').text();
			var $user_parent = $('#id_shop_credit_user').parents('div.form-group');
			if(category == "debit"){
				$user_parent.show();
			}else{
				$user_parent.hide();
			}
		}
		
		function showHideCashBank(){
			var mode = $('#id_transaction_mode').val();
			var $bank_parents = $('.bank_item').parents('div.form-group');
			if (mode == "cash"){
				$bank_parents.hide();
				$('#id_payment_to').val('cash_account').change();
				$('#id_cash_account').parents('div.form-group').show();
			}else{
				$bank_parents.show();		
				showHidePaymentModeItems();		
			}
		}
		
		function showHidePaymentModeItems(){
			var transaction_mode = $('#id_transaction_mode').val();			
			if(transaction_mode == "bank"){
				var mode = $('#id_payment_mode').val();
				var $cheque_parents = $('.cheque_item').parents('div.form-group');
				var $card_parents = $('.card_item').parents('div.form-group');
				if (mode == "cheque_payment"){
					$cheque_parents.show();
					$card_parents.hide();
					$('#id_payment_to').val('bank_account').change();
					$('#id_cash_account').parents('div.form-group').hide();
					
				}else if(mode == "card_payment"){
					$cheque_parents.hide();
					$card_parents.show();
					$('#id_payment_to').val('bank_account').change();
					$('#id_payment_to').parents('div.form-group').hide();
					
				}else if(mode == "internet_banking"){
					$card_parents.hide();
					$cheque_parents.hide();
					$('#id_payment_to').val('bank_account').change();
					$('#id_payment_to').parents('div.form-group').hide();
				}
				
				showHidePaymentToItems();
			}			
		}
		
		function showHidePaymentToItems(){
			var transaction_mode = $('#id_transaction_mode').val();
			if(transaction_mode == "bank"){
				var to = $('#id_payment_to').val();
				if(to == "bank_account"){
					$('#id_bank_account').parents('div.form-group').show();
					$('#id_cash_account').parents('div.form-group').hide();
				}else{
					$('#id_cash_account').parents('div.form-group').show();
					$('#id_bank_account').parents('div.form-group').hide();
				}
			}
		}
        function showSalary(){  
            var staff = $('#id_staff').val();
            if(staff == "" || staff == null){
                $('#id_salary').attr("value",0);
                $('#credit').attr("value",0);
                $('#debit').attr("value",0);
            }else{
                var url = "{% url 'staffs:get_salary' %}";
                $.ajax({
                    type : "GET",
                    url : url,
                    data: { 
                        id : staff
                    } ,
                    dataType : 'json',
                    success : function(data){
                        var status = data['status'];
                        var salary = data['salary'];  
                        var credit = data['credit'];
                        var debit = data['debit'];                  
                        if(status == "true"){
                            $('#id_salary').val(salary);
                            $('#credit').val(credit);
                            $('#debit').val(debit);

                            calculate();
                        }

                    },
                });
            }
        }

        function calculate(){
            var salary = parseFloat($('#id_salary').val());
            if(!salary){
                salary = 0;
            }
            var credit = parseFloat($('#credit').val());
            if(!credit){
                credit = 0;
            }
            var debit = parseFloat($('#debit').val());
            if(!debit){
                debit = 0;
            }
            var bonus = parseFloat($('#id_bonus').val());
            if(!bonus){
                bonus = 0;
            }
            var total = salary + bonus + credit - debit;
            $('#id_total').val(total);
        }

		$(document).on('change, keyup','#id_bonus, #id_salary',function(){
            calculate();
        });

		$(document).ready(function(){
			showHideCreditUser();
			showHideCashBank();
			showHidePaymentModeItems();
			showHidePaymentToItems();
			
			$(document).on('change','#id_transaction_category',function(){
				showHideCreditUser();
			});
			
			$(document).on('change','#id_transaction_mode',function(){
				showHideCashBank();
			});
			
			$(document).on('change','#id_payment_mode',function(){
				showHidePaymentModeItems();
			});
			
			$(document).on('change','#id_payment_to',function(){
				showHidePaymentToItems();
			});
            $(document).on('change','#id_staff',function(){
                showSalary()
            });
			
		});
	</script>
	
{% endblock %}