{% extends "base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
            <h2>{{title}}</h2>
        </div>
        <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="{% url 'finance:cash_accounts' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                        {% if user in super_users or 'can_create_cash_account' in user_instance.permissionlist %}
                            <li>
                                <a title="Create staff" href="{% url 'finance:create_cash_account' %}">
                                    <i class="zmdi zmdi-plus"></i>
                                </a>
                            </li>
                        {% endif %} 
                        {% if user in super_users or 'can_view_cash_account' in user_instance.permissionlist %}
                            <li>
                                <a title="View staff" href="{% url 'finance:cash_account' pk=instance.pk %}">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                            </li>
                        {% endif %} 
                        {% if user in super_users or 'can_delete_cash_account' in user_instance.permissionlist %}
                            <li>
                                <a title="Delete staff" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_cash_account' pk=instance.pk %}" class="action-button redirect">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                            </li>
                        {% endif %} 
                    {% endif %}                               
                </ul>
            </div>

        <div class="card ">
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
            	{% csrf_token %}
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                	{{ form.name.label }}
                                	{% if form.name.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.name.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.name }}
                                
                                {% if form.name.errors %}
                                	<label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>                    
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <label for="{{ form.first_time_balance.id_for_label }}">
                                	{{ form.first_time_balance.label }}
                                	{% if form.first_time_balance.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.first_time_balance.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.first_time_balance.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.first_time_balance }}
                                
                                {% if form.first_time_balance.errors %}
                                	<label class="error">{{ form.first_time_balance.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <br>	
                        </div>
                     </div>
                     
                     <div class="m-t-20">
                        <button type="submit" class="btn btn-info waves-effect">Submit</button>
                    </div>
                 </div>  
             </form>                    
        </div>
    </div>
</section>
{% endblock %}

{% block static %}
	{% load static %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type=text]').focus(function () { 
            $(this).select();
                });
          });
    </script>
{% endblock %}