{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
        	<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
    
                <div class="ah-search">
                    <form method="get" action="{% url 'finance:transactions' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
    
                <ul class="ah-actions actions a-alt">
                    <li>
                        <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a title="Filter" class="filter_button" href="">
                            <i class="zmdi zmdi-filter-list"></i>
                        </a>
                    </li>
                    
                    
                    {% if instances %}
    
                    <li>
                        <a title="Select All" class="check_all" href="">
                            <i class="zmdi zmdi-select-all"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a title="Delete selected categories" data-id="" href="{% url 'finance:delete_selected_transactions' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
		</div>

        <div class="card">
			
			{% if instances %}
			
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                        	<th style="width:20px;"></th>
                            <th data-column-id="date" data-type="numeric">Date</th>
                            <th data-column-id="type">Type</th>
                            <th data-column-id="toilet_facility">Mode</th>
                            <th data-column-id="customer">Customer</th>
                            <th data-column-id="sale">Sale</th>
                            <th data-column-id="description">Description</th>
                            <th data-column-id="parking_capacity">Amount</th>
                            <th data-column-id="dining_room_capacity">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% load el_pagination_tags %}
                        {% paginate 21 instances %}
                        {% for instance in instances %}
                        <tr class="check_items_row">
                        	<td style="width:20px;">
                        		<div class="checkbox lgi-checkbox m-t-5">
		                            <label>
		                                <input class="check check_item" type="checkbox" value="{{instance.pk}}" name="delete_item">
		                                <i class="input-helper"></i>
		                            </label>
		                        </div>
                        	</td>
                        	<td>{{instance.date|default:"-"}}</td>
                            <td>{{instance.get_transaction_type_display|default:"-"}}</td>
                            <td>{{instance.get_transaction_mode_display|default:"-"}}</td>
                            <td>{{instance.customer|default:"-"}}</td>
                            <td>{{instance.sale|default:"-"}}</td>
                            <td>{{instance.description|default:"-"}}</td>
                            <td>{{instance.amount|default:"-"}}</td>
                            <td>
                                <a href="{% url 'finance:transaction' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                {% if instance.transaction_type == "income" %}
                                    {% if instance.collect_amount != NULL%}
                                        <a href="{% url 'sales:edit_collect_amount' pk=instance.collect_amount.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% elif instance.sale != NULL and instance.collect_amount == NULL%}
                                        <a href="{% url 'sales:edit' pk=instance.sale.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% else %}
                                        <a href="{% url 'finance:edit_income' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if instance.transaction_type == "expense" %}
                                    {% if instance.paid != NULL%}
                                        <a href="{% url 'purchases:edit_paid' pk=instance.paid.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% elif instance.purchase != NULL and instance.paid == NULL%}
                                        <a href="{% url 'purchases:edit_purchase' pk=instance.purchase.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% else %}
                                        <a href="{% url 'finance:edit_expense' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                                <a data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'finance:delete_transaction' pk=instance.pk %}" class="action-button reload btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!--pagination -->
            <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                {% get_pages %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pagination">
                            {% show_pages %}
                        </div>
                    </div>
                    <div class="col-sm-6 infoBar">
                        <div class="infos">
                            Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                        </div>
                    </div>
                </div>
            </div>   
            <!--pagination-->
            {% else %}
                {% include 'includes/not_found.html' %}
            {% endif %}            
        </div>
    </section>
{% endblock %}
{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="{% url 'finance:transactions' %}">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>
		    
			<div class="card-body card-padding add_item_container sale_item_formset">
			 	<div class="form-group fg-line">
		            <label>Query</label>
		            <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
		        </div>
                <div class="form-group fg-line">
                    <label>Transaction Type</label>
                    <select name="transaction_type" id="transaction_type" class="selectpicker">
                        <option value="">All</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>

                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Year</label>
                    <input name="year" type="text" class="form-control" placeholder="yyyy" />
                </div>
                <div class="form-group fg-line">
                    <label>Month</label>
                    <select name="month" id="id_month" class="selectpicker">
                        <option value="">All</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>

                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Period</label>
                    <select name="period" id="id_period" class="selectpicker">
                        <option value="">All</option>
                        <option value="today">Today</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Date</label>
                    <input name="date" type="text" class="form-control date-picker" placeholder="Date" />
                </div>
                <div class="form-group fg-line">
                    <label>Date Period</label>
                    <div class="row">
                        <div class="col-md-6 m-b-20">
                            <input name="from_date" type="text" class="form-control date-picker" placeholder="From Date" />
                        </div>
                        <div class="col-md-6">
                            <input name="to_date" type="text" class="form-control date-picker" placeholder=" To Date" />
                        </div>
                    </div>    
                </div>
		        
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}