
<table id="data-table-basic" class="table table-striped table-vmiddle">
    <thead>
        <tr>
            <th style="width:20px;"></th>
            <th data-column-id="product">Product</th>
            <th data-column-id="qty">Qty</th>
            <th data-column-id="unit">Unit</th>
            <th data-column-id="price">Price</th>
            <th data-column-id="Discount">Discount</th>
            <th data-column-id="total">Total</th>
            <th data-column-id="status">Status</th>
            <th data-column-id="sub_total">Sub Total</th>
        </tr>
    </thead>
    <tbody>
    {% for item in sale_items %}
    <tr class="return_data">
        {% if item.actual_qty == 0 %}
        <td></td>
        {% else %}
        <td style="width:20px;"><div class="checkbox lgi-checkbox m-t-5">
                <label>
                    <input class="check check_item return_product_check" data-unit="{{item.unit.pk}}" type="checkbox" data-qty="{{item.actual_qty}}" value="{{item.product.pk}}" name="product_pk">
                    <i class="input-helper"></i>
                </label>
            </div>
        </td>
        {% endif %}
        <td class="product_datail">
            {{item.product.code}} - {{item.product.name}}
        </td>
        <td class="sale_return_item_qty_td">
            <span class="sale_return_item_qty p-relative">
                {{item.actual_qty}}
            </span>
        </td>
        <td>
            {{item.unit}}
        </td>
        <td class="product_price">
            {{item.price}}
        </td>
        <td class="productsale_discount">
            {{item.discount_amount}}
        </td>
        <td class="productsale_subtotal">
            {{item.subtotal}}
        </td>
        <td>
            <span class="sale_return_item_status p-relative">
                Change Status
            </span>
        </td>
        <td>
            <span class="sale_return_item_subtotal p-relative">
                <input type="text" disabled class="form-control" value="{{item.subtotal}}" />
            </span>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>