{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load users_template_tags %}

{% block content %}
	<section id="content">
        <div class="container">
             <div class="c-header">
            	<h2>{{title}}</h2>
            </div>

            <div class="action-header palette-theme {{current_theme}} bg clearfix">
	            <div class="ah-label hidden-xs palette-White text">{{title}}</div>

	            <div class="ah-search">
	            	<form method="get" action="{% url 'rooms:cleanings' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

	            <ul class="ah-actions actions a-alt">
	                <li>
	                    <a href="" class="ah-search-trigger" data-ma-action="ah-search-open">
	                        <i class="zmdi zmdi-search"></i>
	                    </a>
	                </li>

	                <li>
	                    <a title="Filter" class="filter_button" href="">
	                        <i class="zmdi zmdi-filter-list"></i>
	                    </a>
	                </li>
                    {% if is_superuser or 'can_create_cleaning' in user_instance.permissionlist %}
	                <li>
                        <a title="Create Stock Transfer" href="{% url 'rooms:create_cleaning' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}

	                {% if instances %}

	                <li>
	                    <a title="Select All" class="check_all" href="">
	                        <i class="zmdi zmdi-select-all"></i>
	                    </a>
	                </li>
	                {% if is_superuser or 'can_delete_cleaning' in user_instance.permissionlist %}
	                <li>
	                    <a title="Delete selected cleanings" data-id="" href="{% url 'rooms:delete_selected_cleanings' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
	                        <i class="zmdi zmdi-delete"></i>
	                    </a>
	                </li>
                    {% endif %}
	                {% endif %}
	            </ul>

	        </div>

            <div class="card">

				{% if instances %}

                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                            	<th style="width:20px;"></th>
                            	<th>Id</th>
                                <th>Time</th>
                                <th>Staff</th>
                                <th data-column-id="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% load el_pagination_tags %}
							{% paginate 21 instances %}
                        	{% for instance in instances %}
                            <tr class="check_items_row">
                            	<td style="width:20px;">
                            		<div class="checkbox lgi-checkbox m-t-5">
			                            <label>
			                                <input class="check check_item" type="checkbox" value="{{instance.pk}}" name="delete_item">
			                                <i class="input-helper"></i>
			                            </label>
			                        </div>
                            	</td>
                            	<td><a href="{% url 'rooms:cleaning' pk=instance.pk %}">{{instance.a_id}}</a></td>
                                <td>{{instance.time}}</td>
                                <td>{{instance.staff|default:"-"}}</td>
                                <td>
                                    {% if is_superuser or 'can_view_cleaning' in user_instance.permissionlist %}
                                	<a href="{% url 'rooms:cleaning' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i title="View Stock Transfer" class="zmdi zmdi-eye"></i></a>
                                    {% endif %}
                                    {% if is_superuser or 'can_modify_cleaning' in user_instance.permissionlist %}
                                	<a href="{% url 'rooms:edit_cleaning' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i title="Edit Stock Transfer" class="zmdi zmdi-edit"></i></a>
                                    {% endif %}
									{% if is_superuser or 'can_delete_cleaning' in user_instance.permissionlist %}
                                	<a title="Delete Stock Transfer" data-id="{{instance.pk}}" href="{% url 'rooms:delete_cleaning' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                	{% get_pages %}
                	<div class="row">
                		<div class="col-sm-6">
                			<div class="pagination">
                				{% show_pages %}
                			</div>
                		</div>
                		<div class="col-sm-6 infoBar">
                			<div class="infos">
                				Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                			</div>
                		</div>
                	</div>
                </div>
                <!--pagination-->
                {% else %}
                	{% include 'includes/not_found.html' %}
                {% endif %}
            </div>

        </div>
    </section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="{% url 'rooms:cleanings' %}">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>

			<div class="card-body card-padding">
			 	<div class="form-group fg-line">
		            <label>Query</label>
		            <input name="q" type="text" class="form-control" placeholder="Enter your query..." />
		        </div>

                 <div class="form-group fg-line">
                    <label>Year</label>
                    <input name="year" type="text" class="form-control" placeholder="yyyy" />
                </div>

                <div class="form-group fg-line">
                    <label>Month</label>
                    <select name="month" id="id_month" class="selectpicker">
                        <option value="">All</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>

                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Period</label>
                    <select name="period" id="id_period" class="selectpicker">
                        <option value="">All</option>
                        <option value="today">Today</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Payment Status</label>
                    <select name="payment" id="id_payment" class="selectpicker">
                        <option value="">All</option>
                        <option value="full">Full</option>
                        <option value="partial">Partial</option>
                        <option value="no">Nothing</option>
                        <option value="extra">Extra</option>
                    </select>
                </div>
                <div class="form-group fg-line">
                    <label>Vendor</label>
                    <select name="vendor" id="id_period" class="selectpicker">
                        <option value="">All</option>
                        {% for vendor in vendors %}
                            <option value="{{vendor.pk}}">{{vendor}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group fg-line">
                    <label>Date</label>
                    <input name="date" type="text" class="form-control date-picker" placeholder="Date" />
                </div>

                <div class="form-group fg-line">
                    <label>Date Period</label>
                    <div class="row">
                        <div class="col-md-6 m-b-20">
                            <input name="from_date" type="text" class="form-control date-picker" placeholder="From Date" />
                        </div>
                        <div class="col-md-6">
                            <input name="to_date" type="text" class="form-control date-picker" placeholder=" To Date" />
                        </div>
                    </div>
                </div>

		       <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
	{% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}
