{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.distributor.name}} - {{instance.a_id}}</div>


                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_create_cleaning' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Cleaning" href="{% url 'rooms:create_cleaning' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_modify_cleaning' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Cleaning" href="{% url 'rooms:edit_cleaning' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_delete_cleaning' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Cleaning" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'rooms:delete_cleaning' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            {% if cleaning_items %}
            <div class="card">
                <div class="card-header">
                    <h2>Items <small></small></h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Room</th>
                                    <th>Staff</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in cleaning_items %}
                                <tr> 
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.room|default:"-"}}</td>
                                    <td>{{i.staff|default:"-"}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">ID</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>
                            {% if instance.staff %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Staff</div>
                                    <small class="lgi-text"><a href="{% url 'staffs:staff' pk=instance.staff.pk %}">{{instance.staff}}</a></small>
                                </div>
                            </div>
                            {% endif %}                                                    

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Time</div>
                                    <small class="lgi-text">{{instance.time}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}
