{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
    <section id="content">
        <div class="container">
           <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <form class="ajax reset {% if redirect %}redirect{% endif %} skip_empty_row" method="post" action="{{url}}">
                {% csrf_token %}
                <div id="c-grid" class="clearfix" data-columns="2">

                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.time.id_for_label }}">
                                    {{ form.time.label }}
                                    {% if form.time.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.time.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                {% timezone user_time_zone %}
                                    <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{% now "m-d-Y H:i:s" %}">
                                {% endtimezone %}


                                {% if form.time.errors %}
                                    <label class="error">{{ form.time.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.purpose.id_for_label }}">
                                    {{ form.purpose.label }}
                                    {% if form.purpose.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.purpose.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.purpose.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.purpose }}

                                {% if form.purpose.errors %}
                                    <label class="error">{{ form.purpose.errors.as_text }}</label>
                                {% endif %}
                            </div>                            
                        </div>
                    </div>
                    <div class="card damaged">                        
                        <div class="card-body card-padding">                            
                            <div class="form-group fg-line room">
                                <label for="{{ form.room.id_for_label }}">
                                    {{ form.room.label }}
                                    {% if form.room.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.room.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.room.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.room }}

                                {% if form.room.errors %}
                                    <label class="error">{{ form.room.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line staff">
                                <label for="{{ form.staff.id_for_label }}">
                                    {{ form.staff.label }}
                                    {% if form.staff.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.staff.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.staff }}

                                {% if form.staff.errors %}
                                    <label class="error">{{ form.staff.errors.as_text }}</label>
                                {% endif %}
                            </div>                              
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class=item_head >Items <small></small></h2>
                    </div>

                    <div class="table-responsive card-body card-padding add_item_container asset_transfer_item_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="asset">Asset</th>
                                    <th data-column-id="qty">Qty</th>
                                    {% if not instance %}
                                    <th data-column-id="stock">Stock</th>
                                    {% endif %}
                                    <th>Regular Item</th>
                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in asset_transfer_item_formset.forms %}
                                <tr class="form_set_row">                                    
                                    <td>
                                        {{ form.id }}
                                        <span class="asset_transfer p-relative">
                                            {{ form.asset }}
                                        </span>
                                    </td>                                    
                                    <td>
                                        <span class="stock_transfer_qty check_empty p-relative">
                                            {{ form.qty }}
                                        </span>
                                    </td> 
                                    {% if not instance %}
                                    <td>
                                        <span class="sale_item_stock p-relative">
                                            <input type="text" value="0.00" disabled class="form-control" />
                                        </span>
                                    </td>
                                    {% endif %}
                                    <td>
                                        <span class="return_item p-relative">
                                            <div class="checkbox lgi-checkbox m-t-5">
                                                <label>
                                                    {{ form.regular_item }}
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </span>
                                    </td>                                  

                                    <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ asset_transfer_item_formset.management_form }}
                    </div>
                </div>              

                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>
         </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/DateTimePicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/DateTimePicker.css' %}">

    <script>        

        $(document).ready(function(){
            $.fn.modal.Constructor.prototype.enforceFocus=function(){};

            $('.asset_transfer_item_formset table tr.form_set_row').formset({
                prefix: '{{ asset_transfer_item_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                }
            });
            
            $('input[type=text]').focus(function () {
              $(this).select();
            });
            $('.staff').hide();
            $('#id_purpose').change(function(){
                var value = $('#id_purpose').val();
                if(value == 'damaged'){                    
                    $('.damaged').hide();
                }
                else{
                    $('.damaged').show();
                }
            });
            function getAssetInfo($selector){
                var url = "{% url 'products:get_asset' %}";
                var id = $selector.val();
                var $parent = $selector.parents('tr.form_set_row');
                if(id != '' && id != null){                    
                    $.ajax({
                        type : "GET",
                        url : url,
                        dataType : 'json',
                        data : {
                            id : id,
                        },
                        success : function(data) {
                            var status = data['status'];
                            var pk = data['pk'];
                            var stock = data['stock'];               
                            if (status == "true"){
                                $parent.find('.sale_item_stock input').val(stock);
                            }                       
                        },
                        error : function(data){
                            var title = "An error occurred";
                            var message = "An error occurred. Please try again later."; 
                            swal(title, message, "error");
                        }
                    });                 
                }
            }
            $(document).on('change','tr.form_set_row .asset_transfer select',function(){
                $selector = $(this);
                getAssetInfo($selector,false);
           });
        });
        $(document).on('change','tr.form_set_row .regular_item input',function(){
            var $this = $(this);
            var checked = $this.prop('checked');
            if(checked){          
                $(this).val('checked');
            }else{
               $(this).val('');
            }
       });
    </script>

    <style>
        .select2-dropdown {
          z-index: 999999;
        }
    </style>
    {{asset_transfer_item_formset.media}}
{% endblock %}
