{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
    <section id="content">
        <div class="container">
           <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
            </div>
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div id="c-grid" class="clearfix" data-columns="2">

                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.time.id_for_label }}">
                                    {{ form.time.label }}
                                    {% if form.time.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.time.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>

                                {% timezone user_time_zone %}
                                    <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{% now "m-d-Y H:i:s" %}">
                                {% endtimezone %}


                                {% if form.time.errors %}
                                    <label class="error">{{ form.time.errors.as_text }}</label>
                                {% endif %}
                            </div>
                                                
                            <div class="form-group fg-line">
                                <label for="{{ form.staff.id_for_label }}">
                                    Supervisor
                                    {% if form.staff.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.staff.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.staff.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.staff }}

                                {% if form.staff.errors %}
                                    <label class="error">{{ form.staff.errors.as_text }}</label>
                                {% endif %}
                            </div>                                                         
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class=item_head >Items <small></small></h2>
                    </div>

                    <div class="table-responsive card-body card-padding add_item_container cleaning_item_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="room">Room</th>
                                    <th data-column-id="staff">Staff</th>                                    
                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in cleaning_item_formset.forms %}
                                <tr class="form_set_row">                                    
                                    <td>
                                        {{ form.id }}
                                        <span class="asset_transfer p-relative">
                                            {{ form.room }}
                                        </span>
                                    </td>                                    
                                    <td>
                                        <span class="stock_transfer_qty check_empty p-relative">
                                            {{ form.staff }}
                                        </span>
                                    </td>                                                              

                                    <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ cleaning_item_formset.management_form }}
                    </div>
                </div>              

                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>
         </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/DateTimePicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/DateTimePicker.css' %}">

    <script>        

        $(document).ready(function(){
            $.fn.modal.Constructor.prototype.enforceFocus=function(){};

            $('.cleaning_item_formset table tr.form_set_row').formset({
                prefix: '{{ cleaning_item_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                }
            });
            
            $('input[type=text]').focus(function () {
              $(this).select();
            });  
        });         
            
    </script>

    <style>
        .select2-dropdown {
          z-index: 999999;
        }
    </style>
    {{cleaning_item_formset.media}}
{% endblock %}
