{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'rooms:rooms' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Product" href="{% url 'rooms:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Product" href="{% url 'rooms:room' pk=instance.pk %}">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Product" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'rooms:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %} {% if new_redirect_window %}new_redirect_window{% endif %} skip_empty_row" method="post" action="{{url}} ">
            	{% csrf_token %}
            	
            	<div id="c-grid" class="clearfix" data-columns="2">
					<div class="card">
						<div class="card-header">
					        <h2>Basic Info <small></small></h2>
					    </div>
						<div class="card-body card-padding">
														
							<div class="form-group fg-line">
                                <label for="{{ form.name.id_for_label }}">
                                	{{ form.name.label }}
                                	{% if form.name.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.name.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                	</span>
                                </label>
                                {{ form.name }}
                                
                                {% if form.name.errors %}
                                	<label class="error">{{ form.name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.code.id_for_label }}">
                                	{{ form.code.label }}
                                	{% if form.code.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.code.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.code }}
                                
                                {% if form.code.errors %}
                                	<label class="error">{{ form.code.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.hsn.id_for_label }}">
                                    {{ form.hsn.label }}
                                    {% if form.hsn.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.hsn.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.hsn.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.hsn }}
                                
                                {% if form.hsn.errors %}
                                    <label class="error">{{ form.hsn.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.room_type.id_for_label }}">
                                    {{ form.room_type.label }}
                                    {% if form.room_type.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.room_type.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.room_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.room_type }}
                                
                                {% if form.room_type.errors %}
                                    <label class="error">{{ form.room_type.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.category.id_for_label }}">
                                    {{ form.category.label }}
                                    {% if form.category.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.category.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.category }}
                                
                                {% if form.category.errors %}
                                    <label class="error">{{ form.category.errors.as_text }}</label>
                                {% endif %}
                            </div>


                            <div class="form-group subcategory">
                                <label for="{{ form.subcategory.id_for_label }}">
                                    {{ form.subcategory.label }}
                                    {% if form.subcategory.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    {% if form.subcategory.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.subcategory.help_text }}" aria-describedby="popover59326" data-placement="auto left" data-toggle="popover" data-trigger="hover" class="help-text-icon fa fa-info-circle" style="font-size:16px;">
                                    {% endif %}
                                </label>
                                {{ form.subcategory }}
                                
                                {% if form.subcategory.errors %}
                                    <label class="error">{{ form.subcategory.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.total_adult.id_for_label }}">
                                    {{ form.total_adult.label }}
                                    {% if form.total_adult.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.total_adult.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.total_adult.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.total_adult }}
                                
                                {% if form.total_adult.errors %}
                                    <label class="error">{{ form.total_adult.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.total_child.id_for_label }}">
                                    {{ form.total_child.label }}
                                    {% if form.total_child.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.total_child.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.total_child.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.total_child }}
                                
                                {% if form.total_child.errors %}
                                    <label class="error">{{ form.total_child.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            {{ form.shop }}
						</div>

					</div> 					
					<div class="card">
						<div class="card-header">
					        <h2>Cost &amp; Price <small></small></h2>
					    </div>
						<div class="card-body card-padding">
						     <div class="form-group fg-line">
                                <label for="{{ form.normal_rate.id_for_label }}">
                                	{{ form.normal_rate.label }}
                                	{% if form.normal_rate.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.normal_rate.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.normal_rate.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.normal_rate }}
                                
                                {% if form.normal_rate.errors %}
                                	<label class="error">{{ form.normal_rate.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.offtime_rate.id_for_label }}">
                                	{{ form.offtime_rate.label }}
                                	{% if form.offtime_rate.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.offtime_rate.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.offtime_rate.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.offtime_rate }}
                                
                                {% if form.offtime_rate.errors %}
                                	<label class="error">{{ form.offtime_rate.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.peaktime_rate.id_for_label }}">
                                    {{ form.peaktime_rate.label }}
                                    {% if form.peaktime_rate.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.peaktime_rate.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.peaktime_rate.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.peaktime_rate }}
                                
                                {% if form.peaktime_rate.errors %}
                                    <label class="error">{{ form.peaktime_rate.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.tax_category.id_for_label }}">
                                	{{ form.tax_category.label }}
                                	{% if form.tax_category.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.tax_category.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.tax_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.tax_category }}
                                
                                {% if form.tax_category.errors %}
                                	<label class="error">{{ form.tax_category.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="row m-b-10">
                                <div class="col-sm-6">
                                    <div class="form-group fg-line">
                                        <label for="{{ form.is_tax_included.id_for_label }}">
                                            
                                            {% if form.is_tax_included.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}
                                            
                                            {% if form.is_tax_included.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        <div class="checkbox m-b-5">
                                            <label>
                                                {{ form.is_tax_included }}
                                                <i class="input-helper"></i>
                                                Is tax included
                                            </label>
                                        </div>                                
                                        {% if form.is_tax_included.errors %}
                                            <label class="error">{{ form.is_tax_included.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="form-group fg-line">
                                        <label for="{{ form.is_expired.id_for_label }}">
                                            
                                            {% if form.is_expired.field.required %}
                                                <small class="star">*</small>
                                            {% endif %}
                                            
                                            {% if form.is_expired.help_text %}
                                                <span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                            {% endif %}
                                        </label>
                                        <div class="checkbox m-b-5">
                                            <label>
                                                {{ form.is_expired }}
                                                <i class="input-helper"></i>
                                                Is Expired
                                            </label>
                                        </div>                                
                                        {% if form.is_expired.errors %}
                                            <label class="error">{{ form.is_expired.errors.as_text }}</label>
                                        {% endif %}
                                    </div>
                                </div> -->
                            </div>
                            
                            <div class="form-group fg-line">
                                <label for="{{ form.discount.id_for_label }}">
                                	{{ form.discount.label }}
                                	{% if form.discount.field.required %}
						        		<small class="star">*</small>
						        	{% endif %}
						        	
						        	{% if form.discount.help_text %}
						        		<span data-original-title="Field Info" title="" data-content="{{ form.discount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.discount }}
                                
                                {% if form.discount.errors %}
                                	<label class="error">{{ form.discount.errors.as_text }}</label>
                                {% endif %}
                            </div>                          

						</div> 
					</div>                    
             	</div>
             	<div class="m-t-20">
				    <button type="submit" class="btn btn-info waves-effect">Submit</button>
				</div>
         	</form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
{{form.media}}
	{% load static %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            // ub category show hide
            $('.form-group.subcategory').hide();
            $(document).on('change','#id_category',function(){
                var value = $(this).val();
                if (value != '' && value != null){
                    $('.form-group.subcategory').show();
                }
                else {
                    $('.form-group.subcategory').hide();
                }
            });
          
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            }); 
            
        });

       
        
</script>
	
{% endblock %}