<!DOCTYPE html>
<html>
  <head>
    {% load static %} 
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/print.css' %}" type="text/css"/>
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/jsbarcode.min.js' %}"></script>
    <style type="text/css">
      body { 
        width:107mm; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      ul{
        float: left;
      }
      ul li{
        float: left;
        width:50mm;
        height:24.6mm;
        margin-top:3.5mm;
        text-align: center;
      }
      ul li{
        padding-left: 3mm;
      }
      ul li img{
        width:90%;
        height:auto;
      }
      ul li:nth-child(2n+1){
        clear:both;
      }
      p.code {
        line-height: 1em;
        font-size: 7pt;
        font-weight: bold;
        text-align: center;
      }
      div.details {
        text-align: center;
      }
      div.details h6 {
        font-size: 8pt;
        font-weight: bold;
        line-height: 1em;
      }
      div.details p.shop_address {
        font-size: 6pt;
        font-weight: bold;
        line-height: 1em;
      }
      div.details p.product_code {
        font-size: 6pt;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1em;
        margin-bottom: 1mm;
      }
      div.details p.shop_phone {
        font-size: 7pt;
        font-weight: bold;
        line-height: 1em;
      }
      div.details p.product_name {
        font-size: 6pt;
        font-weight: bold;
        line-height: 1em;
        text-transform: uppercase;
      }
      div.details p.product_price {
        font-size: 9pt;
        font-weight: bold;
        line-height: 1em;
      }
    </style>
  </head>
  <body>
    <ul>
      {% for n in n_range %}
        <li>
          <img id="{{n}}"/>
          <div class="details">
            <h6 class="title">{{current_shop.name}}</h6>
            <p class="product_code">{{instance.code}}</p>
            <p class="product_name">{{instance.name}}</p>
            <p class="product_price">MRP : {{instance.price}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <br class="clear" />
    <script>
      $(document).ready(function(){
        {% for n in n_range %}
        $("#{{n}}").JsBarcode(
          "{{instance.code}}",
          {
            format: "CODE128",
            width: 2,
            height: 40,
            margin:0,
            marginLeft: 10,
            marginRight: 10,
            marginTop: 5,
            marginBottom:0,
            displayValue : false
          }
        );
        {% endfor %}

      });
      
    </script>
  </body>
</html>
