{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
			
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}} - {{instance.stock}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if is_superuser or 'can_create_room' in user_instance.permissionlist %}
                    <li>
                        <a title="Add Product" href="{% url 'rooms:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_modify_room' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Product" href="{% url 'rooms:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_room' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Product" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'rooms:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            
            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Id</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">HSN</div>
                                    <small class="lgi-text">{{instance.hsn}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Code</div>
                                    <small class="lgi-text">{{instance.code}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Category</div>
                                    <small class="lgi-text">{{instance.category}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Sub Category</div>
                                    <small class="lgi-text">{{instance.subcategory}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Cost &amp; Price <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Normal Rate</div>
                                    <small class="lgi-text">{{instance.normal_rate}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Offtime Rate</div>
                                    <small class="lgi-text">{{instance.offtime_rate}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Peektime Rate</div>
                                    <small class="lgi-text">{{instance.Peaktime_rate}}</small>
                                </div>
                            </div>                          
                            

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Tax Excluded Price</div>
                                    <small class="lgi-text">{{instance.tax_excluded_price}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Tax (Percentage)</div>
                                    <small class="lgi-text">{{instance.tax}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Discount</div>
                                    <small class="lgi-text">{{instance.discount}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div> 

        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}