{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'staffs:staff_salaries' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="{% url 'staffs:staff_salaries' %}">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    {% if is_superuser or 'can_create_staff_salary' in user_instance.permissionlist or 'can_create_staff_salary' in user_instance.designation.permissionlist %} 
                    <li>
                        <a title="Create Staff Salary" href="{% url 'staffs:create_staff_salry' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_view_staff_salary' in user_instance.permissionlist or 'can_view_staff_salary' in user_instance.designation.permissionlist %} 
                    <li>
                        <a title="View Staff Salary" href="{% url 'staffs:staff_salary' pk=instance.pk %}">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_staff_salary' in user_instance.permissionlist or 'can_delete_staff_salary' in user_instance.designation.permissionlist %}
                    <li>
                        <a title="Delete Staff Salary" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'staffs:delete_staff_salary' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}    
                    {% endif %}                            
                </ul>
            </div>
            
            <div class="card">
                <form class="ajax reset {% if redirect %}redirect{% endif %} skip_empty_row" method="post" action="{{url}}">
                	{% csrf_token %}
					<div class="card-body card-padding add_item_container salary_formset table-responsive">	        
			            <table id="data-table-basic" class="table table-striped table-vmiddle">
							<thead>
	                            <tr>
	                                <th>Staff</th>
	                                <th>Month</th>
                                    <th>Year</th>
                                    <th>Basic Salary</th>
	                                <th>Allowance</th>
                                    <th>Deduction</th>
                                    <th>Gross Salary</th>
	                                <th class="one"></th>
								</tr>	
							</thead>
							<tbody>
								{% for form in salary_formset.forms %}
									<tr class="check_items_row form_set_row">		    
										<td>
											{{form.id}}
											<span class="staff">								
												{{ form.staff }}
											</span>
										</td>
										<td class="width-150">
											<span>									
												{{ form.month }}
											</span>
										</td>
                                        <td>
                                            <span class="check_empty">                                  
                                                {{ form.year }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="basic_salary check_empty">                                  
                                                {{ form.basic_salary }}
                                            </span>
                                        </td>
										<td>
											<span class="allowance">									
												{{ form.allowance }}
											</span>
										</td>
                                        <td>
                                            <span class="deduction">                                  
                                                {{ form.deduction }}
                                            </span>
                                        </td>
										<td>
                                            <span class="gross_salary">                          
                                                <input type="text" class="form-control" placeholder="Gross Salary" value="0" disabled="disabled" /> 
                                            </span>
                                        </td>
										<td class="one">{% if item.instance.pk %}{{ item.DELETE }}{% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
                        </table>
                        {{ salary_formset.management_form }}
                         <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                     </div>  
                 </form>                    
            </div>
            
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
    <style>
        .width-150 {
            width: 150px;
        }
    </style>
	<script>
        
        $(document).ready(function(){
            $('.salary_formset table tr.form_set_row').formset({
                prefix: '{{ salary_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.sale_item select').val(null).trigger('change');
                    row.find('.select2-selection').click();
                    row.find('.selectpicker').selectpicker();
                }
            });
            function calculate(){
                var gross_salary = 0;            
                
                $('.salary_formset table tr.form_set_row').each(function(){
                    $this = $(this);
                    var basic_salary = parseFloat($this.find('.basic_salary input').val());
                    if(!basic_salary){
                        basic_salary = 0;
                    }
                    var allowance = parseFloat($this.find('.allowance input').val());
                    if(!allowance){
                        allowance = 0;
                    }
                    var deduction = parseFloat($this.find('.deduction input').val());
                    if(!deduction){
                        deduction = 0;
                    }
                    var gross_salary = basic_salary + allowance - deduction ;
                    $this.find('.gross_salary input').val(gross_salary);
                });
                
                $('.gross_salary').val(gross_salary); 
            }
            
            calculate();
            
            $(document).on("input change keyup",'.basic_salary input,.allowance input,.deduction input',function(){
                calculate();
            });
            
            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });
        });
    </script>
    {{salary_formset.media}}
{% endblock %}