{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.customer}} - {{instance.total}}</div>


                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_create_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Sale" target="_blank" href="{% url 'sales:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_modify_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Sale" target="_blank" href="{% url 'sales:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a title="Email Sale" href="{% url 'sales:email_sale' pk=instance.pk %}">
                            <i class="zmdi zmdi-email"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Print Sale" target="_blank" href="{% url 'sales:print' pk=instance.pk %}">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                    </li>
                    {% if "is_superuser" or 'can_delete_sale' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Sale" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'sales:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>          
            

            <div id="c-grid" class="clearfix" data-columns="2">                
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">ID</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">GST Type</div>
                                    <small class="lgi-text">{{instance.get_gst_type_display}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Sale Type</div>
                                    <small class="lgi-text">{{instance.get_sale_type_display}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Customer</div>
                                    <small class="lgi-text"><a href="{% url 'customers:customer' pk=instance.customer.pk %}">{{instance.customer}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Time</div>
                                    <small class="lgi-text">{{instance.time}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Invoice Id</div>
                                    <small class="lgi-text">{{instance.invoice_id}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment reminder date </div>
                                    <small class="lgi-text">{{instance.payment_remainder_date|default:"-"}}</small>
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Payment Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Subtotal</div>
                                    <small class="lgi-text">{{instance.subtotal}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Special Discount</div>
                                    <small class="lgi-text">{{instance.special_discount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Total</div>
                                    <small class="lgi-text">{{instance.total}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Total Tax Amount</div>
                                    <small class="lgi-text">{{instance.total_tax_amount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Total Discount Amount</div>
                                    <small class="lgi-text">{{instance.total_discount_amount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Round Off</div>
                                    <small class="lgi-text">{{instance.round_off}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment Received</div>
                                    <small class="lgi-text">{{instance.payment_received}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Balance</div>
                                    <small class="lgi-text">{{instance.balance}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if booking_items %}
                <div class="card">
                    <div class="card-header">
                        <h2>Items <small></small></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Room</th>
                                        <th>Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in booking_items %}
                                    <tr>
                                        <td>{{i.room}}</td>
                                        <td>{{i.rate}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for transaction in transactions %}
                <div class="card">
                    <div class="card-header">
                        <h2>Transaction Details<small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Transaction Mode</div>
                                    <small class="lgi-text">{{transaction.get_transaction_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% if transaction.payment_mode %}
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment Mode</div>
                                    <small class="lgi-text">{{transaction.get_payment_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cheque_details %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cheque Details</div>
                                    <small class="lgi-text">{{transaction.cheque_details|default:"-"}}</small>
                                </div>
                            </div>

                            {% endif %}
                            {% if transaction.cheque_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Is Cheque Withdrawed</div>
                                    <small class="lgi-text">{{transaction.is_cheque_withdrawed|yesno:"Yes,No"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.card_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Card Details</div>
                                    <small class="lgi-text">{{transaction.card_details|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.payment_to and transaction.transaction_mode == "bank" %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment to</div>
                                    <small class="lgi-text">{{transaction.get_payment_to_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.bank_account %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Bank Account</div>
                                    {% if request.user.is_superuser or 'can_view_bank_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:bank_account' pk=transaction.bank_account.pk %}">{{transaction.bank_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.bank_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cash_account %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cash Account</div>
                                    {% if request.user.is_superuser or 'can_view_cash_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:cash_account' pk=transaction.cash_account.pk %}">{{transaction.cash_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.cash_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>                    
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}