{% extends "blank_base.html" %}
{% load i18n %}

{% load tz %}
{% block content %}
    <section id="content">
        <div class="container p-10">
            <form enctype="multipart/form-data" method="post" action="{{url}}" class='skip_empty_row not_allowed_without_formset'>
            	{% csrf_token %}

                <div class="row">
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label>Rate Type</label>
                                    {% if is_from_booking %}
                                    <input id="rate_type" class="form-control" disabled type="text" value="{{booking.get_rate_type_display}}" />
                                    {% else %}
                                    <input id="rate_type" class="form-control" disabled type="text" value="{{current_shop.get_rate_type_display}}" />
                                    {% endif %}
                                </div>                         
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.time.id_for_label }}">
                                        {{ form.time.label }}
                                        {% if form.time.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.time.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    
                                    {% if is_create_page %}
                                        {% timezone user_time_zone %}
                                            <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{% now 'm-d-Y H:i:s' %}">
                                        {% endtimezone %}
                                    {% else %}
                                        <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{{ form.time.value|date:'m-d-Y H:i:s' }}">
                                    {% endif %}
                                    
                                    
                                    {% if form.time.errors %}
                                        <label class="error">{{ form.time.errors.as_text }}</label>
                                    {% endif %}
                                </div>                         
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ form.customer.id_for_label }}">
                                        {{ form.customer.label }}
                                        {% if form.customer.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.customer.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.customer.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.customer }}
                                    
                                    {% if form.customer.errors %}
                                        <label class="error">{{ form.customer.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div>                     
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                {% if is_from_booking %}
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.from_time.id_for_label }}">
                                        {{ form.from_time.label }}
                                        {% if form.from_time.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.from_time.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.from_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>                                    
                                    
                                    <input id="{{ form.from_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.from_time.html_name}}" placeholder="Enter time" value="{{booking.from_time|date:'m-d-Y H:i:s'}}">                                   
                                    
                                    {% if form.from_time.errors %}
                                        <label class="error">{{ form.from_time.errors.as_text }}</label>
                                    {% endif %}
                                </div> 
                                {% else %}
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.from_time.id_for_label }}">
                                        {{ form.from_time.label }}
                                        {% if form.from_time.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.from_time.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.from_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    
                                    {% if is_create_page %}
                                        {% timezone user_time_zone %}
                                            <input id="{{ form.from_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.from_time.html_name}}" placeholder="Enter time" value="{% now 'm-d-Y H:i:s' %}">
                                        {% endtimezone %}
                                    {% else %}
                                        <input id="{{ form.from_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.from_time.html_name}}" placeholder="Enter time" value="{{ form.from_time.value|date:'m-d-Y H:i:s' }}">
                                    {% endif %}
                                    
                                    
                                    {% if form.from_time.errors %}
                                        <label class="error">{{ form.from_time.errors.as_text }}</label>
                                    {% endif %}
                                </div> 
                                {% endif %}                        
                            </div> 
                        </div> 
                    </div>                   
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                {% if is_from_booking %}
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.to_time.id_for_label }}">
                                        {{ form.to_time.label }}
                                        {% if form.to_time.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.to_time.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.to_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    <input id="{{ form.to_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.to_time.html_name}}" placeholder="Enter time" value="{{ booking.to_time|date:'m-d-Y H:i:s'}}">
                                    {% if form.to_time.errors %}
                                        <label class="error">{{ form.to_time.errors.as_text }}</label>
                                    {% endif %}
                                </div> 
                                {% else %}
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.to_time.id_for_label }}">
                                        {{ form.to_time.label }}
                                        {% if form.to_time.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.to_time.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.to_time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    
                                    {% if is_create_page %}
                                        {% timezone user_time_zone %}
                                            <input id="{{ form.to_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.to_time.html_name}}" placeholder="Enter time" >
                                        {% endtimezone %}
                                    {% else %}
                                        <input id="{{ form.to_time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.to_time.html_name}}" placeholder="Enter time" value="{{ form.to_time.value|date:'m-d-Y H:i:s' }}">
                                    {% endif %}
                                    
                                    
                                    {% if form.to_time.errors %}
                                        <label class="error">{{ form.to_time.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                                {% endif %}                         
                            </div> 
                        </div> 
                    </div>
                     
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ form.total_days.id_for_label }}">
                                        {{ form.total_days.label }}
                                        {% if form.total_days.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.total_days.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.total_days.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.total_days }}
                                    
                                    {% if form.total_days.errors %}
                                        <label class="error">{{ form.total_days.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                </div>
                <div class="row customer-info">
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.name.id_for_label }}">
                                        {{ customer_form.name.label }}
                                        {% if customer_form.name.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.name.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.name }}
                                    
                                    {% if customer_form.name.errors %}
                                        <label class="error">{{ customer_form.name.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.address.id_for_label }}">
                                        {{ customer_form.address.label }}
                                        {% if customer_form.address.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.address.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.address.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.address }}
                                    
                                    {% if customer_form.address.errors %}
                                        <label class="error">{{ customer_form.address.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.phone.id_for_label }}">
                                        {{ customer_form.phone.label }}
                                        {% if customer_form.phone.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.phone.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.phone.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.phone }}
                                    
                                    {% if customer_form.phone.errors %}
                                        <label class="error">{{ customer_form.phone.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.email.id_for_label }}">
                                        {{ customer_form.email.label }}
                                        {% if customer_form.email.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.email.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.email.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.email }}
                                    
                                    {% if customer_form.email.errors %}
                                        <label class="error">{{ customer_form.email.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.state.id_for_label }}">
                                        {{ customer_form.state.label }}
                                        {% if customer_form.state.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.state.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.state.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.state }}
                                    
                                    {% if customer_form.state.errors %}
                                        <label class="error">{{ customer_form.state.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.age.id_for_label }}">
                                        {{ customer_form.age.label }}
                                        {% if customer_form.age.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.age.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.age.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.age }}
                                    
                                    {% if customer_form.age.errors %}
                                        <label class="error">{{ customer_form.age.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div>  
                </div>
                <div class="row customer-doc-info">                    
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.document_category.id_for_label }}">
                                        {{ customer_form.document_category.label }}
                                        {% if customer_form.document_category.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.document_category.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.document_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.document_category }}
                                    
                                    {% if customer_form.document_category.errors %}
                                        <label class="error">{{ customer_form.document_category.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ customer_form.document_no.id_for_label }}">
                                        {{ customer_form.document_no.label }}
                                        {% if customer_form.document_no.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.document_no.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.document_no.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ customer_form.document_no }}
                                    
                                    {% if customer_form.document_no.errors %}
                                        <label class="error">{{ customer_form.document_no.errors.as_text }}</label>
                                    {% endif %}
                                </div>                          
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ customer_form.photo.id_for_label }}">
                                        {{ customer_form.photo.label }}
                                        {% if customer_form.photo.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.photo.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.photo.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    <br />
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="photo">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                    
                                    {% if customer_form.photo.errors %}
                                        <label class="error">{{ customer_form.photo.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ customer_form.document.id_for_label }}">
                                        {{ customer_form.document.label }}
                                        {% if customer_form.document.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.document.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.document.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    <br />
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="document">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                    
                                    {% if customer_form.document.errors %}
                                        <label class="error">{{ customer_form.document.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                            </div> 
                        </div> 
                    </div> 
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ customer_form.signature.id_for_label }}">
                                        {{ customer_form.signature.label }}
                                        {% if customer_form.signature.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if customer_form.signature.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ customer_form.signature.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    <br />
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="signature">
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                    
                                    {% if customer_form.signature.errors %}
                                        <label class="error">{{ customer_form.signature.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                            </div> 
                        </div> 
                    </div>                  
                </div>               
                {% if checkin_customers_formset %}
                <div class="card m-b-5 sale-item-card">    
                    <div class="card-head">
                        <h3 class='heading'>Guest Details</h3> 
                    </div>               
                    <div class="table-responsive card-body card-padding-table add_item_container checkin_customers_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="name">Name</th>
                                    <th data-column-id="age"  >Age</th>
                                    <th data-column-id="address">Address</th>
                                    <th data-column-id="phone">Phone</th>
                                    <th data-column-id="email">Email</th>
                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in checkin_customers_formset.forms %}               
                                <tr class="form_set_row">
                                    
                                    <td style="width:30%;" >
                                        {{ item.id }}
                                        <span class="sale_item p-relative">                                 
                                            {{ item.name }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="sale_item_qty check_empty p-relative">
                                            {{ item.age }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="sale_item_unit p-relative">
                                            {{ item.address }}
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <span class="sale_item_price check_empty p-relative">
                                            {{ item.phone }}
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <span class="sale_item_discount_amount p-relative">
                                            {{ item.email }}
                                        </span>
                                    </td>                                    
                                    <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ checkin_customers_formset.management_form }}
                    </div> 
                </div>
                {% endif %}
                 <div class="card">
                    <div class="card-head">
                        <h3 class='heading'>Available Rooms</h3>  
                    </div>
                    <div class="table-responsive  vacant_room_container">
                        <p class="text-center p-30">No Rooms found</p> 
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">  
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label>Total</label>
                                    <input id="total" class="form-control" disabled type="text" value="0.00" />
                                </div>
                                                            
                            </div> 
                        </div>
                    </div>                    

                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">  
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label>Advance</label>
                                    {% if is_from_booking %}
                                    <input id="advance" class="form-control" disabled type="text" value="{{booking.advance}}" />
                                    {% else %} 
                                    <input id="advance" class="form-control" disabled type="text" value="0.00" />
                                    {% endif %}
                                </div>                                                                                      
                            </div> 
                        </div>
                    </div>                                    

                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">                                    
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.discount.id_for_label }}">
                                        {{ form.discount.label }}
                                        {% if form.discount.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.discount.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.discount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.discount }}
                                    
                                    {% if form.discount.errors %}
                                        <label class="error">{{ form.discount.errors.as_text }}</label>
                                    {% endif %}
                                </div>                                             
                            </div> 
                        </div> 
                    </div>

                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.payment.id_for_label }}">
                                        {{ form.payment.label }}
                                        {% if form.payment.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.payment.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.payment.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ form.payment }}
                                    
                                    {% if form.payment.errors %}
                                        <label class="error">{{ form.payment.errors.as_text }}</label>
                                    {% endif %}
                                </div>                   
                            </div> 
                        </div> 
                    </div>

                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">

                                <div class="form-group m-b-10 fg-line">
                                    <label>Balance</label>
                                    <input id="id_balance" class="form-control" disabled type="text" value="0.00" />
                                </div>                                                        
                            </div> 
                        </div> 
                    </div>

                    <div class="col-md-4 col-lg-2 col-sm-6 p-l-5 p-r-5 ">
                        <div class="card m-b-0">
                            <div class="card-body p-10 transaction">
                                
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.transaction_mode.id_for_label }}">
                                        {{ transaction_form.transaction_mode.label }}
                                        {% if transaction_form.transaction_mode.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.transaction_mode.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.transaction_mode }}
                                    
                                    {% if transaction_form.transaction_mode.errors %}
                                        <label class="error">{{ transaction_form.transaction_mode.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                 <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.payment_mode.id_for_label }}">
                                        {{ transaction_form.payment_mode.label }}
                                        {% if transaction_form.payment_mode.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.payment_mode.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.payment_mode }}
                                    
                                    {% if transaction_form.payment_mode.errors %}
                                        <label class="error">{{ transaction_form.payment_mode.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                                
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ form.cheque_details.id_for_label }}">
                                        {{ transaction_form.cheque_details.label }}
                                        {% if transaction_form.cheque_details.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.cheque_details.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.cheque_details }}
                                    
                                    {% if transaction_form.cheque_details.errors %}
                                        <label class="error">{{ transaction_form.cheque_details.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="form-group m-b-10 col-sm-5 m-b-20">
                                        <div class="toggle-switch">
                                            <label class="ts-label" for="{{ form.is_cheque_withdrawed.id_for_label }}">
                                                {{ transaction_form.is_cheque_withdrawed.label }}
                                                {% if transaction_form.is_cheque_withdrawed.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}
                                                
                                                {% if transaction_form.is_cheque_withdrawed.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ transaction_form.is_cheque_withdrawed }}
                                            <label class="ts-helper" for="ts1"></label>
                                        </div>
                                        
                                        {% if transaction_form.is_cheque_withdrawed.errors %}
                                            <label class="error">{{ transaction_form.is_cheque_withdrawed.errors.as_text }}</label>
                                    {% endif %}
                                    </div>
                                </div>

                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ form.card_details.id_for_label }}">
                                        {{ transaction_form.card_details.label }}
                                        {% if transaction_form.card_details.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.card_details.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.card_details }}
                                    
                                    {% if transaction_form.card_details.errors %}
                                        <label class="error">{{ transaction_form.card_details.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.payment_to.id_for_label }}">
                                        {{ transaction_form.payment_to.label }}
                                        {% if transaction_form.payment_to.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.payment_to.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.payment_to }}
                                    
                                    {% if transaction_form.payment_to.errors %}
                                        <label class="error">{{ transaction_form.payment_to.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label for="{{ form.bank_account.id_for_label }}">
                                        {{ transaction_form.bank_account.label }}
                                        {% if transaction_form.bank_account.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.bank_account.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.bank_account }}
                                    
                                    {% if transaction_form.bank_account.errors %}
                                        <label class="error">{{ form.bank_account.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.cash_account.id_for_label }}">
                                        {{ transaction_form.cash_account.label }}
                                        {% if transaction_form.cash_account.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.cash_account.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.cash_account }}
                                    
                                    {% if transaction_form.cash_account.errors %}
                                        <label class="error">{{ transaction_form.cash_account.errors.as_text }}</label>
                                    {% endif %}
                                </div>                                                              
                            </div> 
                        </div> 
                    </div>
                </div>
                
                <input type="hidden" value="{{default_paid_value|yesno:'yes,no'}}" id="default_paid_value"/>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect raw-remove">Submit</button>
                </div>

            </form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
	{% load static %}
    <script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
    <style>
        .table > tbody > tr:last-child > td {
            padding-bottom: 10px !important;;
        }
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 5px !important;
        }
        .row {
            margin-left: -5px !important;
            margin-right: -5px !important;
        }
        .sale-item-card {
            overflow-y:auto;
        }
        .card-head {
            padding: 10px;
        }  
        .card-padding-table {
            padding: 10px 20px 20px 20px;
        }
        .heading {
            margin-top: 0 !important;
        }
    </style>
    <script>
        $(document).ready(function(){
            window_height = $(window).height();
            h = window_height - 394;
            $('.sale-item-card').css('max-height', h+"px");
        });
    </script>
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>  
	
	<script>

        $('.checkin_customers_formset table tr.form_set_row').formset({
            prefix: '{{ checkin_customers_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            'added' : function (row) {
                row.find('.sale_item select').val(null).trigger('change');
                row.find('.select2-selection').click();
            }
        });	    
		
		function showHideCashBank(){
			var mode = $('#id_transaction_mode').val();
			var $bank_parents = $('.bank_item').parents('div.form-group');
			if (mode == "cash"){
				$bank_parents.hide();
				$('#id_payment_to').val('cash_account').change();
				$('#id_cash_account').parents('div.form-group').show();
			}else{
				$bank_parents.show();		
				showHidePaymentModeItems();		
			}
		}
		
		function showHidePaymentModeItems(){
			var transaction_mode = $('#id_transaction_mode').val();			
			if(transaction_mode == "bank"){
				var mode = $('#id_payment_mode').val();
				var $cheque_parents = $('.cheque_item').parents('div.form-group');
				var $card_parents = $('.card_item').parents('div.form-group');
				if (mode == "cheque_payment"){
					$cheque_parents.show();
					$card_parents.hide();
					$('#id_payment_to').val('bank_account').change();
					$('#id_cash_account').parents('div.form-group').hide();
					
				}else if(mode == "card_payment"){
					$cheque_parents.hide();
					$card_parents.show();
					$('#id_payment_to').val('bank_account').change();
					$('#id_payment_to').parents('div.form-group').hide();
					
				}else if(mode == "internet_banking"){
					$card_parents.hide();
					$cheque_parents.hide();
					$('#id_payment_to').val('bank_account').change();
					$('#id_payment_to').parents('div.form-group').hide();
				}
				
				showHidePaymentToItems();
			}			
		}
		
		function showHidePaymentToItems(){
			var transaction_mode = $('#id_transaction_mode').val();
			if(transaction_mode == "bank"){
				var to = $('#id_payment_to').val();
				if(to == "bank_account"){
					$('#id_bank_account').parents('div.form-group').show();
					$('#id_cash_account').parents('div.form-group').hide();
				}else{
					$('#id_cash_account').parents('div.form-group').show();
					$('#id_bank_account').parents('div.form-group').hide();
				}
			}
		}
        
	$(document).ready(function(){
        showHideCashBank();
        showHidePaymentModeItems();
        showHidePaymentToItems();
        
        $(document).on('change','#id_transaction_mode',function(){
            showHideCashBank();
        });
        
        $(document).on('change','#id_payment_mode',function(){
            showHidePaymentModeItems();
        });
        
        $(document).on('change','#id_payment_to',function(){
            showHidePaymentToItems();
        });        
        
        $('input[type=text]').focus(function () { 
            $(this).select();
        });

        $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
            e.preventDefault();
        });
        $('input[type=text]').select(function () {
            $('.log').append(' Handler for .select() called. ');
        }); 

        $(document).on('change','.room', function() {
            calculate();
        });  


        function calculate(){
            var total_days = parseFloat($('#id_total_days').val());
            var total_price = 0
            var count = 0
            $('input[name="room"]:checked').each(function() {
                $this = $(this);
                var price = parseFloat($this.attr('data-price'));
                if(!price){
                    price = 0;
                }               
               total_price = total_price + price 
            });
            var total = total_price*total_days
            $('#total').val(total.toFixed(2)); 
            var discount = $('#id_discount').val();
            var payment = $('#id_payment').val();
            var advance = $('#advance').val();
            if(!advance){
                    advance = 0;
                }    
            var booking_discount = $('#booking_discount').val(); 
            if(!booking_discount){
                    booking_discount = 0;
                }
            balance = total - payment - discount - advance - booking_discount  
			$('#id_balance').val(balance.toFixed(2)); 
		}
        $(document).on('change','#id_rate_type',function(){
            getRooms();
        });
        $(document).on('change keyup','#id_discount',function(){
            calculate()
        });
        $(document).on('change keyup','#id_payment',function(){
            calculate()
        });
        $(document).on('change focusout','#id_from_time',function() {
            var to_date = new Date($('#id_to_time').val());
            if (to_date) {
                getRooms();
                calculate();
            }
        });
        $(document).on('change focusout','#id_to_time',function() {
            var from_date = new Date($('#id_from_time').val());
            var to_date = new Date($('#id_to_time').val());
            var diff_date =  to_date - from_date;
            month = leftPad(to_date.getMonth()+1 ,2)
            day = leftPad(to_date.getDate(),2)
            year = to_date.getFullYear()
            var days = Math.floor(((diff_date % 31536000000) % 2628000000)/86400000);
            
            if ('{{day_choice}}' == 'noon_to_noon'){
                $('#id_to_time').val(month+"/"+day+"/"+year+" 12:00:00")
                $('#id_total_days').val(days);
            }
            else {
                $('#id_to_time').val(month+"/"+day+"/"+year+" 00:00:00")
                $('#id_total_days').val(days+1);
            }
            getRooms();
            calculate();
        });
        $(document).on('change keyup','#id_total_days',function(){
            var from_date = new Date($('#id_from_time').val());
            var value = $(this).val();
            if ('{{day_choice}}' == 'noon_to_noon'){
                from_date.setDate(from_date.getDate() + parseFloat(value));
                month = leftPad(from_date.getMonth()+1 ,2)
                day = leftPad(from_date.getDate(),2)
                year = from_date.getFullYear()
                $('#id_to_time').val(month+"/"+day+"/"+year+" 12:00:00")
            }
            else {
                from_date.setDate(from_date.getDate() + parseFloat(value)-1);
                month = leftPad(from_date.getMonth()+1 ,2)
                day = leftPad(from_date.getDate(),2)
                year = from_date.getFullYear()
                $('#id_to_time').val(month+"/"+day+"/"+year+" 00:00:00")
            }
            getRooms()
            calculate();
        });
        function leftPad(num, length) {
          var result = '' + num;
          while (result.length < length) {
            result = '0' + result;
          }
          return result;
        }
        // $(document).on('change focusout','#id_to_time',function() {
        //     var From_date = new Date($('#id_from_time').val());
        //     var To_date = new Date($('#id_to_time').val());
        //     var diff_date =  To_date - From_date;
        //     var days = Math.floor(((diff_date % 31536000000) % 2628000000)/86400000);
        //     $('#id_total_days').val(days+1); 
        //     getRooms();
        //     calculate();
        // });
        // $(document).on('change keyup','#id_total_days',function(){
        //     var From_date = new Date($('#id_from_time').val());
        //     var value = $(this).val();
        //     From_date.setDate(From_date.getDate() + parseFloat(value));
        //     month = leftPad(From_date.getMonth()+1 ,2)
        //     day = leftPad(From_date.getDate(),2)
        //     year = From_date.getFullYear()
        //     $('#id_to_time').val(month+"/"+day+"/"+year+" 00:00:00")
        //     getRooms()
        //     calculate();
        // });
        // function leftPad(num, length) {
        //   var result = '' + num;
        //   while (result.length < length) {
        //     result = '0' + result;
        //   }
        //   return result;
        // }

        CheckDoc()
        $(document).on('change','#id_customer',function(){
            var value = $(this).val();
            if (value != '' && value != null){
                CheckDoc()
                $('.customer-info').hide();
            }
            else {
                $('.customer-info').show();
                $('.customer-doc-info').show(); 
            }
        });
        
        getRooms()
        $( "#id_to_time" ).datetimepicker({
             onSelect: function(){
                getRooms()
             }
        });        
        
		calculate();

        function CheckDoc(){
            var customer = $('#id_customer').val();
            var url = "{% url 'customers:check_document' %}";
            $.ajax({
                type : "GET",
                url : url,
                data: {
                    id : customer
                } ,
                dataType : 'json',
                success : function(data){
                    var status = data['status'];   
                    var is_comleted = data['is_comleted'];                  
                    if(status == "true"){
                        if(is_comleted == "false"){
                            $('.customer-info').hide();
                            $('.customer-doc-info').show(); 
                        } 
                        else{
                            $('.customer-info').hide();
                            $('.customer-doc-info').hide(); 
                        }                          
                    }
                },
            });
        }		
		$(document).on('click ','.raw-remove',function(){
            name = $('.add_item_container.checkin_customers_formset table tbody tr:nth-last-child(2) span.sale_item input').val()
            if (name == null | name == "")
            {
                $('.add_item_container.checkin_customers_formset table tbody tr:nth-last-child(2) td:last-child a').click();
            }
        });
        function getRooms(){
            var url = "{% url 'bookings:get_vacant_rooms' %}";
            var from_time = $("#id_from_time").val();
            var to_time = $("#id_to_time").val();
            var rate_type = $("#id_rate_type").val();
            var total_days = $("#id_total_days").val();
            var customer = $("#id_customer").val()
            var is_from_booking = '{{is_from_booking}}'
            var booking_pk = '{{booking.pk}}'           
                  
            $.ajax({
                type : "GET",
                url : url,
                dataType : 'json',
                data : {
                    from_time : from_time,
                    to_time : to_time,
                    rate_type : rate_type,
                    is_from_booking : is_from_booking,
                    customer : customer,
                    booking_pk : booking_pk,
                },
                success : function(data) {
                    var status = data['status'];
                    var template = data['template'];
                    if(status == "true"){
                        $('.vacant_room_container').html(template);
                        calculate();
                    } else {
                        var nothing_found = "class='text-center p-30'>No Rooms found</p>";
                    }
                },
                error : function(data){
                }
            });
        } 
       
    });
    </script>  
    {{form.media}}
{% endblock %}