{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}} - {{instance.phone}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if is_superuser or 'can_create_customer' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Customer" href="{% url 'customers:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_modify_customer' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Customer" href="{% url 'customers:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_customer' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Customer" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'customers:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Email</div>
                                    <small class="lgi-text">{{instance.email}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Gst Tin</div>
                                    <small class="lgi-text">{{instance.gst_tin}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Phone</div>
                                    <small class="lgi-text">{{instance.phone}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">State</div>
                                    <small class="lgi-text">{{instance.state}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Address</div>
                                    <small class="lgi-text">{{instance.address}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">GST TIN</div>
                                    <small class="lgi-text">{{instance.gst_tin}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">First Time Credit</div>
                                    <small class="lgi-text">{{instance.first_time_credit}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">First Time Debit</div>
                                    <small class="lgi-text">{{instance.first_time_debit}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Credit</div>
                                    <small class="lgi-text">{{instance.credit}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Debit</div>
                                    <small class="lgi-text">{{instance.debit}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Ducuments &amp; Photo <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Photo</div>
                                    {% if instance.photo %}
                                        <img class="img-responsive" src="{{instance.photo.url}}" alt="" >
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Document</div>
                                    {% if instance.document %}
                                        <img class="img-responsive" src="{{instance.document.url}}" alt="" >
                                    {% endif %}
                                </div>
                            </div> 
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Signature</div>
                                    {% if instance.signature %}
                                        <img class="img-responsive" src="{{instance.signature.url}}" alt="" >
                                    {% endif %}
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                
             </div>  
             
            {% if sales %}
            <div class="card">
            	<div class="card-header">
                    <h2>Sales <small></small></h2>
                </div>
                <div class="card-body">
	                <div class="table-responsive">
	                    <table id="data-table-basic" class="table table-striped table-vmiddle">
	                        <thead>
	                            <tr>
	                                <th data-column-id="id" data-type="numeric">ID</th>
	                                <th>Time</th>
	                                <th>Sub Total</th>
	                                <th>Special Discount</th>
	                                <th>Total</th>
	                                <th data-column-id="action">Action</th>
                           		</tr>
	                        </thead>
	                        <tbody>
	                        	{% for i in sales %}
	                            <tr>
	                                <td><a href="{% url 'sales:sale' pk=i.pk %}">{{i.a_id}}</a></td>
	                                <td>{{i.time}}</td>
	                                <td>{{i.subtotal}}</td>
	                                <td>{{i.special_discount}}</td>
	                                <td>{{i.total}}</td>
	                                <td>
                                        {% if is_superuser or 'can_view_sale' in user_instance.permissionlist %}
	                                	<a href="{% url 'sales:sale' pk=i.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                        {% endif %}
                                        {% if is_superuser or 'can_modify_sale' in user_instance.permissionlist %}
	                                	<a href="{% url 'sales:edit' pk=i.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                        {% endif %}
                                        {% if is_superuser or 'can_delete_sale' in user_instance.permissionlist %}
	                                	<a data-id="{{i.pk}}" href="{% url 'sales:delete' pk=i.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                                        {% endif %}
	                                </td>
	                            </tr>
	                            {% endfor %}
	                        </tbody>
	                    </table>
	                </div>
                </div>
            </div>
            {% endif %}                  
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}