{% load main_template_tags %}
<div class="multipl-image-checkbox"> 
    <ul>
      {% for item in rooms %}
        {% if item.self_booked %}
          <li><input class="room" type="checkbox" checked id="{{item.code}}" name="room" value="{{item.code}}" data-price="{{item.rate}}" />
            <label name="{{item.code}}" style="background-color:#F57C00;color: #fff"for="{{item.code}}">Checked                      
              <h6>{{item.name}}</h6>
              <h6>{{item.room_type|get_display_value}}</h6>
              <h6>Rate:{{item.rate}}</h6>
              <h6>Adult : {{item.total_adult}}</h6>
              <h6>Child : {{item.total_child}}</h6>
              </label>

          </li>
        {% elif item.booked %}
          <li><input class="room" disabled='disabled' type="checkbox" id="{{item.code}}" name="room" value="{{item.code}}" data-price="{{item.rate}}" />
            <label name="{{item.code}}" style="background-color:#F57C00;color: #fff"for="{{item.code}}">Booked                      
              <h6>{{item.name}}</h6>
              <h6>{{item.room_type|get_display_value}}</h6>
              <h6>Rate:{{item.rate}}</h6>
              <h6>Adult : {{item.total_adult}}</h6>
              <h6>Child : {{item.total_child}}</h6>
              </label>
          </li>
        {% elif item.occupied %}
          <li><input class="room" disabled='disabled' type="checkbox" id="{{item.code}}" name="room" value="{{item.code}}" data-price="{{item.rate}}" />
            <label name="{{item.code}}" style="background-color:#E53935;color: #fff"for="{{item.code}}">Occupied                      
              <h6>{{item.name}}</h6>
              <h6>{{item.room_type|get_display_value}}</h6>
              <h6>Rate:{{item.rate}}</h6>
              <h6>Adult : {{item.total_adult}}</h6>
              <h6>Child : {{item.total_child}}</h6>
              </label>

          </li>
        {% else %}
          <li><input class="room" type="checkbox" id="{{item.code}}" name="room" value="{{item.code}}" data-price="{{item.rate}}" />
            <label name="{{item.code}}" style="background-color:#26a69a;color: #fff"for="{{item.code}}">Select the room                       
              <h6>{{item.name}}</h6>
              <h6>{{item.room_type|get_display_value}}</h6>
              <h6>Rate:{{item.rate}}</h6>
              <h6>Adult : {{item.total_adult}}</h6>
              <h6>Child : {{item.total_child}}</h6>
              </label>
          </li>
        {% endif %}    
    {% endfor %}        
    </ul>
</div>
<style>
    .multipl-image-checkbox ul {
      list-style-type: none;
    }

    .multipl-image-checkbox  li {
      display: inline-block;
    }

    .multipl-image-checkbox  input[type="checkbox"]{
      display: none;
    }

    .multipl-image-checkbox  label {
      border: 1px solid #fff;
      padding: 10px;
      display: block;
      position: relative;
      margin: 10px;
      cursor: pointer;
      height: auto;
      width: 125px;
      text-align: center;
    }
    h6{
        color: #fff;
    }

    .multipl-image-checkbox  label:before {
      background-color: #fff7f7;
      color: white;
      content: " ";
      display: block;
      /*border-radius: 50%;*/
      /*border: 1px solid white;*/
      position: absolute;
      top: -5px;
      left: 0px;
      width: 123px;
      height: 25px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(0);
      margin-top: 5px;
      text-align: center;
    }

    .multipl-image-checkbox  label img {
      height: 100px;
      width: 100px;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
    }

    .multipl-image-checkbox :checked + label {
      border-color: #ddd;
    }

    .multipl-image-checkbox  :checked + label:before {
      content: "✔";
      background-color: #454141;
      transform: scale(1);
    }

    .multipl-image-checkbox :checked + label img {
      transform: scale(0.9);
      box-shadow: 0 0 5px #333;
      z-index: -1;
    }
</style>

