{% extends "base.html" %}
{% load i18n %}

{% block title %} Permission Denied {% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="c-header">
			<h2>Permission Denied</h2>
		</div>
		<div id="c-grid" class="clearfix" data-columns="2">
            <div class="card text-center">
                <div class="card-header">
                    <h2 class="f-20 f-700 c-red">Permission Denied.<small></small></h2>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}