{% load static %}
<aside id="s-main-menu" class="sidebar">
    <div class="smm-header">
        <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
    </div>

    <ul class="smm-alerts">
        <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-email"></i>
        </li>
        <li class="p-relative" data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-notifications"></i>
            <span class="notification-count palette-Red-500 bg">30</span>
        </li>
        <li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
            <i class="zmdi zmdi-view-list-alt"></i>
        </li>
    </ul>

    <ul class="main-menu">
        <li class="active">
            <a href="{% url 'app' %}"><i class="zmdi zmdi-home"></i> Dashboard</a>
        </li>
        {% if is_superuser or 'can_manage_room' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'room_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-hotel"></i> Rooms</a>
                <ul>
                    <li class="{% if active_menu == 'room_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_room' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Rooms" href="{% url 'rooms:rooms' %}?active=room_open&active_parent=room_module_open">Rooms</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_room' in user_instance.permissionlist %}
                            <a title="Create Product" href="{% url 'rooms:create' %}?active=room_open&active_parent=room_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>                    
                    <li class="{% if active_menu == 'cleaning_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_asset_transfer' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="StockAsset Transfers" href="{% url 'rooms:cleanings' %}?active=cleaning_open&active_parent=room_module_open">Cleaning</a>
                        {% endif %} 
                        {% if is_superuser or 'can_create_cleaning' in user_instance.permissionlist %}
                            <a title="Create Cleaning" href="{% url 'rooms:create_cleaning' %}?active=cleaning_open&active_parent=room_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}                      
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'cleaning_status_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_cleaning_status' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Cleaning Status" href="{% url 'rooms:cleaning_status' %}?active=cleaning_status_open&active_parent=room_module_open">Cleaning Status</a>
                        {% endif %}                                             
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </li>
        {% endif %}        
        {% if is_superuser or 'can_manage_booking' in user_instance.permissionlist %}
        <li class="sub-menu {% if active_parent == 'booking_module_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-assignment-check"></i>Bookings</a>
            <ul>
                <li class="{% if active_menu == 'booking_create_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_booking' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Bookings" href="{% url 'bookings:bookings' %}?active=booking_create_open&active_parent=booking_module_open">Bookings</a>
                    {% endif %}
                    {% if is_superuser or 'can_create_booking' in user_instance.permissionlist %}
                        <a title="Create bookings " target="_blank" href="{% url 'bookings:create_booking' %}?active=bookings_open&active_parent=booking_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li> 
                <li class="{% if active_menu == 'checkin_create_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_checkin' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Checkin" href="{% url 'bookings:checkins' %}?active=checkin_create_open&active_parent=booking_module_open">Check In</a>
                    {% endif %}
                    {% if is_superuser or 'can_create_checkin' in user_instance.permissionlist %}
                        <a title="Create checkins" target="_blank" href="{% url 'bookings:create_checkin' %}?active=checkins_open&active_parent=booking_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li> 
                <li class="{% if active_menu == 'checkout_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_checkout' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Checkout" href="{% url 'bookings:checkouts' %}?active=checkout_open&active_parent=booking_module_open">Check Out</a>
                    {% endif %}
                    {% if is_superuser or 'can_view_checkin' in user_instance.permissionlist %}
                        <a title="Create checkins" href="{% url 'bookings:checkins' %}?active=checkout_open&active_parent=booking_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                    {% endif %}               
                    <div class="clearfix"></div>
                </li>                 
            </ul>
        </li>
        {% endif %}
        {% if is_superuser or 'can_manage_product' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'restaurant_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-store"></i>Restaurant</a>
                <ul>
                    <li class="{% if active_menu == 'product_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_product' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Products" href="{% url 'products:products' %}?active=product_open&active_parent=restaurant_module_open">Products</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                            <a title="Create Product" href="{% url 'products:create' %}?active=product_open&active_parent=restaurant_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> 
                    <!-- <li class="{% if active_menu == 'purchase_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_purchase' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Purchase" href="{% url 'purchases:purchases' %}?active=purchase_open&active_parent=restaurant_module_open">Purchases</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_purchase' in user_instance.permissionlist %}
                        <a title="Create Purchase" href="{% url 'purchases:create_purchase' %}?active=purchase_open&active_parent=restaurant_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> -->
                    <!-- <li class="{% if active_menu == 'sale_dashboard_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_sale' in user_instance.permissionlist %}
                            <a title="Sales" href="{% url 'sales:dashboard' %}?active=sale_dashboard_open&active_parent=restaurant_module_open">Dashboard</a>
                        {% endif %}
                    </li> -->
                    <li class="{% if active_menu == 'sale_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_sale' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Sales" href="{% url 'sales:sales' %}?active=sale_open&active_parent=restaurant_module_open">Sales</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_sale' in user_instance.permissionlist %}

                        <a title="Create Sale" target="_blank" href="{% url 'sales:create' %}?active=sale_open&active_parent=restaurant_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'stock_report_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_stock_report' in user_instance.permissionlist %}
                            <a title="Sales" href="{% url 'sales:stock_report' %}?active=stock_report_open&active_parent=restaurant_module_open">Stock Movement</a>
                        {% endif %}
                    </li>   
                </ul>
            </li>
        {% endif %}
        
        <!-- {% if is_superuser or 'can_manage_sale' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'product_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-list"></i> Sales</a>
                <ul>
                    <li class="{% if active_menu == 'sale_dashboard_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_sale' in user_instance.permissionlist %}
                            <a title="Sales" href="{% url 'sales:dashboard' %}?active=sale_dashboard_open&active_parent=product_module_open">Dashboard</a>
                        {% endif %}
                    </li>
                    <li class="{% if active_menu == 'sale_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_sale' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Sales" href="{% url 'sales:sales' %}?active=sale_open&active_parent=product_module_open">Sales</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_sale' in user_instance.permissionlist %}

                        <a title="Create Sale" target="_blank" href="{% url 'sales:create' %}?active=sale_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'estmates_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_estimate' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Sales" href="{% url 'sales:estimates' %}?active=esteimates_open&active_parent=product_module_open">Estimates</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_estimate' in user_instance.permissionlist %}

                        <a title="Create Sale" href="{% url 'sales:create_estimate' %}?active=estmates_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        
                        <div class="clearfix"></div>
                    </li> 
                    <li class="{% if active_menu == 'stock_report_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_stock_report' in user_instance.permissionlist %}
                            <a title="Sales" href="{% url 'sales:stock_report' %}?active=stock_report_open&active_parent=product_module_open">Stock Movement</a>
                        {% endif %}
                    </li>                                  
                </ul>
            </li>
        {% endif %} -->

        <!-- {% if is_superuser or 'can_manage_returns' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'return_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-arrow-missed"></i> Returns</a>
                <ul>                        
                    <li class="{% if active_menu == 'sale_return_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_sale_return' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Sale Returns" href="{% url 'sales:sale_returns' %}?active=sale_return_open&active_parent=return_module_open">Sale Returns</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_sale_return' in user_instance.permissionlist %}
                            <a title="Create Sale return" href="{% url 'sales:create_sale_return' %}?active=sale_return_open&active_parent=return_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>  
                    <li class="{% if active_menu == 'damaged_product_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_damaged_product' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Damaged products" href="{% url 'sales:damaged_products' %}?active=damaged_product_open&active_parent=return_module_open">Damaged Products</a>
                        {% endif %}
                       {% if is_superuser or 'can_create_damaged_product' in user_instance.permissionlist %}
                            <a title="Create Damaged product " href="{% url 'sales:create_damaged_product' %}?active=damaged_product_open&active_parent=return_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                     <li class="{% if active_menu == 'product_return_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_collect_amount' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Product Returns" href="{% url 'sales:product_returns' %}?active=product_return_open&active_parent=return_module_open">Product Returns</a>
                        {% endif %}
                       {% if is_superuser or 'can_create_collect_amount' in user_instance.permissionlist %}
                        <a title="Create Product Return" href="{% url 'sales:create_product_return' %}?active=product_return_open&active_parent=return_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> -->
                    <!-- <li class="{% if active_menu == 'returnable_product_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_returnable_product' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Product Returns" href="{% url 'sales:returnable_products' %}?active=returnable_product_open&active_parent=return_module_open">Returnable Products</a>
                        {% endif %}                    
                        <div class="clearfix"></div>
                    </li>  -->                                   
                <!-- </ul>
            </li>
        {% endif %} -->

        {% if is_superuser or 'can_manage_product' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'product_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-comfy"></i>Asset</a>
                <ul>
                    
                    <!-- <li class="{% if active_menu == 'invoice_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_purchase_invoice' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Purchase Invoice" href="{% url 'purchases:invoices' %}?active=invoice_open&active_parent=product_module_open">Purchase Invoices</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_purchase_invoice' in user_instance.permissionlist %}
                        <a title="Create Purchase Invoice" href="{% url 'purchases:create_invoice' %}?active=invoice_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> --> 
                     <li class="{% if active_menu == 'room_asset_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_room_asset' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Rooms" href="{% url 'rooms:assets' %}?active=room_asset_open&active_parent=product_module_open">Assets</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_room_asset' in user_instance.permissionlist %}
                            <a title="Create Asset" href="{% url 'rooms:create_asset' %}?active=room_asset_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'asset_transfer_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_asset_transfer' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="StockAsset Transfers" href="{% url 'rooms:asset_transfers' %}?active=asset_transfer_open&active_parent=product_module_open">Asset Transfers</a>
                        {% endif %}
                       {% if is_superuser or 'can_create_asset_transfer' in user_instance.permissionlist %}
                            <a title="Create asset transfer" href="{% url 'rooms:create_asset_transfer' %}?active=asset_transfer_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'asset_purchase_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_asset_purchase' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Asset Purchase" href="{% url 'purchases:asset_purchases' %}?active=asset_purchase_open&active_parent=product_module_open">Asset Purchases</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_asset_purchase' in user_instance.permissionlist %}
                        <a title="Create Asset Purchase" href="{% url 'purchases:create_asset_purchase' %}?active=asset_purchase_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>                       
                    <!-- <li class="{% if active_menu == 'unit_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_unit' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Unit" href="{% url 'products:units' %}?active=unit_open&active_parent=product_module_open">Units</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_unit' in user_instance.permissionlist %}
                            <a title="Create Unit" href="{% url 'products:create_unit' %}?active=unit_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>                      
                    <li class="{% if active_menu == 'asset_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_asset' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Asset" href="{% url 'products:assets' %}?active=asset_open&active_parent=product_module_open">Assets</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_asset' in user_instance.permissionlist %}
                            <a title="Create Asset" href="{% url 'products:create_asset' %}?active=asset_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>  -->                  
                    <!-- <li class="{% if active_menu == 'barcode_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Create Barcode" href="{% url 'products:create_barcode' %}?active=barcode_open&active_parent=product_module_open">Create Barcode</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                            <a title="Create Barcode" href="{% url 'products:create_barcode' %}?active=barcode_open&active_parent=product_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                    <li><a href="{% url 'products:upload_product_list' %}">Upload Product List</a></li>
                    {% endif %} -->

                </ul>
            </li>
        {% endif %}

        {% if is_superuser or 'can_manage_customer' in user_instance.permissionlist %}
        <li class="sub-menu {% if active_parent == 'customer_module_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-alt"></i>Customers</a>
            <ul>
                <li class="{% if active_menu == 'customer_create_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_customer' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Customers" href="{% url 'customers:customers' %}?active=customer_create_open&active_parent=customer_module_open">Customers</a>
                    {% endif %}
                   {% if is_superuser or 'can_create_customer' in user_instance.permissionlist %}
                        <a title="Create customers " href="{% url 'customers:create' %}?active=customers_open&active_parent=customer_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'collect_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_collect_amount' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Colllect Amounts" href="{% url 'sales:collect_amounts' %}?active=collect_open&active_parent=customer_module_open">Collected Amounts</a>
                        {% endif %}
                       {% if is_superuser or 'can_create_collect_amount' in user_instance.permissionlist %}
                            <a title="Create Collect Amount" href="{% url 'sales:create_collect_amount' %}?active=collect_open&active_parent=customer_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                <li class="{% if active_menu == 'customer_payment_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_customer-payment_amount' in user_instance.permissionlist %}
                    <a class="pull-left p-r-0" title="Customer payment" href="{% url 'sales:customer_payments' %}?active=customer_payment_open&active_parent=customer_module_open">Customer Payments</a>
                    {% endif %}
                   {% if is_superuser or 'can_create_customer-payment' in user_instance.permissionlist %}
                        <a title="Create customer payment " href="{% url 'sales:create_customer_payment' %}?active=customer_payment_open&active_parent=customer_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if is_superuser or 'can_manage_finance' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'finance_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-money"></i>Finance</a>
                <ul>
                    
                    <li class="{% if active_menu == 'bank_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_bank_account' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Bank Accounts" href="{% url 'finance:bank_accounts' %}?active=bank_open&active_parent=finance_module_open">Bank Accounts</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_bank_account' in user_instance.permissionlist %}
                        <a title="Create Bank Account" href="{% url 'finance:create_bank_account' %}?active=bank_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> 
                    <li class="{% if active_menu == 'cash_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_cash_account' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Cash Accounts" href="{% url 'finance:cash_accounts' %}?active=cash_open&active_parent=finance_module_open">Cash Accounts</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_cash_account' in user_instance.permissionlist %}
                        <a title="Create Cash Account" href="{% url 'finance:create_cash_account' %}?active=cash_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'transaction_category_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_transaction_category' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Transaction Categories" href="{% url 'finance:transaction_categories' %}?active=transaction_category_open&active_parent=finance_module_open">Transaction Categories</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_transaction_category' in user_instance.permissionlist %}
                        <a title="Create Transaction Categories" href="{% url 'finance:create_transaction_category' %}?active=transaction_category_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'tax_category_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_tax_category' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Tax Categories" href="{% url 'finance:tax_categories' %}?active=tax_category_open&active_parent=finance_module_open">Tax Categories</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_tax_category' in user_instance.permissionlist %}
                        <a title="Create Tax Categories" href="{% url 'finance:create_tax_category' %}?active=tax_category_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'income_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_create_income' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Create Income" href="{% url 'finance:create_income' %}?active=income_open&active_parent=finance_module_open">Create Income</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_income' in user_instance.permissionlist %}
                        <a title="Create Income" href="{% url 'finance:create_income' %}?active=income_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'expense_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_create_expense' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Create Expense" href="{% url 'finance:create_expense' %}?active=expense_open&active_parent=finance_module_open">Create Expense</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_expense' in user_instance.permissionlist %}
                        <a title="Create Expense" href="{% url 'finance:create_expense' %}?active=expense_open&active_parent=finance_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'transaction_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_transaction' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Create Expense" href="{% url 'finance:transactions' %}?active=transaction_open&active_parent=finance_module_open">Transactions</a>
                        {% endif %}
                    <div class="clearfix"></div>
                    </li>                    
                </ul>
            </li>
        {% endif %}
        {% if is_superuser or 'can_manage_staff' in user_instance.permissionlist %}
            <li class="sub-menu {% if active_parent == 'staff_module_open' %}active{% endif %}">
                <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-account-o"></i> Staffs</a>
                <ul>
                    <!-- <li class="{% if active_menu == 'designation_open' %}active{% endif %} ">
                        {% if is_superuser or 'can_view_designation' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Designations" href="{% url 'staffs:designations' %}?active=designation_open&active_parent=staff_module_open">Designations</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_designation' in user_instance.permissionlist %}
                            <a title="Create Designation" href="{% url 'staffs:create_designation' %}?active=designation_open&active_parent=staff_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> -->  
                    <li class="{% if active_menu == 'staff_open' %}active{% endif %} m-b-5">
                        {% if is_superuser or 'can_view_staff' in user_instance.permissionlist %}
                            <a class="pull-left p-r-0" title="Staffs" href="{% url 'staffs:staffs' %}?active=staff_open&active_parent=staff_module_open">Staffs</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_staff' in user_instance.permissionlist %}
                            <a title="Create Staff" href="{% url 'staffs:create_staff' %}?active=staff_open&active_parent=staff_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'finance_open' %}active{% endif %}">
                        {% if is_superuser or 'can_create_staff_salary' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0"  href="{% url 'staffs:staff_salaries' %}?active=finance_open&active_parent=staff_module_open">Staff Salary</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_staff_salary' in user_instance.permissionlist %}
                        <a title="Create Staff Payment" href="{% url 'staffs:create_staff_salary' %}?active=finance_open&active_parent=staff_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li>
                    <li class="{% if active_menu == 'tasks_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_task' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Asset Purchase" href="{% url 'tasks:tasks' %}?active=tasks_open&active_parent=staff_module_open">Tasks</a>
                        {% endif %}
                        {% if is_superuser or 'can_create_task' in user_instance.permissionlist %}
                        <a title="Create Task" href="{% url 'tasks:create_task' %}?active=tasks_open&active_parent=staff_module_open">
                            <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                        </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </li> 
                    
                    <li class= "{% if active_menu == 'users_open' %}active{% endif %}">
                        {% if is_superuser or 'can_view_user' in user_instance.permissionlist %}
                        <a class="pull-left p-r-0" title="Users" href="{% url 'users:users' %}?active=users_open&active_parent=staff_module_open"">Users</a>
                        {% endif %}  
                        <div class="clearfix"></div>
                    </li>
                                                     
                </ul>
            </li>
        {% endif %}
        {% if is_superuser or 'can_manage_vendor' in user_instance.permissionlist %}
        <li class="sub-menu {% if active_parent == 'vendor_module_open' %}active{% endif %}">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-account-box-phone"></i>Vendors</a>
            <ul>
                <li class="{% if active_menu == 'vendor_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_paid' in user_instance.permissionlist %}
                    <a class="pull-left p-r-0" title="Vendors" href="{% url 'vendors:vendors' %}?active=vendor_open&active_parent=vendor_module_open">Vendors</a>
                    {% endif %}
                   {% if is_superuser or 'can_create_paid' in user_instance.permissionlist %}
                    <a title="Create Vendor" href="{% url 'vendors:create_vendor' %}?active=vendor_open&active_parent=vendor_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li>
                <li class="{% if active_menu == 'paid_open' %}active{% endif %} m-b-5">
                    {% if is_superuser or 'can_view_paid' in user_instance.permissionlist %}
                    <a class="pull-left p-r-0" title="Paid Amounts" href="{% url 'purchases:paids'%}?active=paid_open&active_parent=vendor_module_open">Paid Amounts</a>
                    {% endif %}
                   {% if is_superuser or 'can_create_paid' in user_instance.permissionlist %}
                    <a title="Create Paid Amount" href="{% url 'purchases:create_paid' %}?active=paid_open&active_parent=vendor_module_open">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                    </a>
                    {% endif %}
                    <div class="clearfix"></div>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if is_superuser %}
        <li><a href="{% url 'users:settings' %}"><i class="zmdi zmdi-settings"></i> Settings</a></li>
        {% endif %}

    </ul>
</aside>