<div class="shortcuts">
	<button class="btn palette-Light-Blue btn-icon bg waves-effect waves-circle waves-float">
		<i class="zmdi zmdi-plus"></i>
	</button>
	
	<div class="icons icons text-right">
		
		{% if is_superuser or 'can_create_customer' in user_instance.permissionlist %}
		<a href="{% url 'customers:create' %}" class="btn btn-warning bg btn-icon-text waves-effect">Customer <i class="zmdi m-l-10 zmdi-accounts-alt"></i></a>
		<br />
		{% endif %}
		{% if is_superuser or 'can_create_checkin' in user_instance.permissionlist %}
		<a href="{% url 'bookings:create_checkin' %}" class="btn palette-Teal bg btn-icon-text waves-effect">Check In <i class="zmdi m-l-10 zmdi-view-comfy"></i></a>
		<br />
		{% endif %}
		{% if is_superuser or 'can_create_purchase' in user_instance.permissionlist %}
		<a href="{% url 'purchases:create_asset_purchase' %}" class="btn palette-Red bg btn-icon-text waves-effect">Purchase <i class="zmdi m-l-10 zmdi-shopping-cart"></i></a>
		<br />
		{% endif %}
		{% if is_superuser or 'can_create_booking' in user_instance.permissionlist %}
		<a target="_blank" href="{% url 'bookings:create_booking' %}" class="btn btn-info bg btn-icon-text waves-effect">Booking <i class="zmdi m-l-10 zmdi-view-list"></i></a>
		{% endif %}
	</div>
</div>