{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
        	<div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.customer}} - {{instance.balance}}</div>


                <ul class="ah-actions actions a-alt">
                    {% if is_superuser or 'can_create_customer_payment' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Customer payment" href="{% url 'sales:create_customer_payment' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_modify_customer_payment' in user_instance.permissionlist or instance.creator == user %}
                    <li>
                        <a title="Edit customer payment" href="{% url 'sales:edit_customer_payment' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a title="Print customer payment" target="_blank" href="{% url 'sales:print_customer_payment' pk=instance.pk %}">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                    </li>
                    {% if is_superuser or 'can_delete_customer_payment' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete customer payment" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'sales:delete_customer_payment' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
            	<div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                	<div class="lgi-heading">Date</div>
                                    <small class="lgi-text">{{instance.date}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Customer</div>
                                    <small class="lgi-text">{{instance.customer}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Balance</div>
                                    <small class="lgi-text">{{instance.balance}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Paid Amount</div>
                                    <small class="lgi-text">{{instance.paid_amount}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Remaining Balance</div>
                                    <small class="lgi-text">{{instance.remaining_balance}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Transaction Details<small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Transaction Mode</div>
                                    <small class="lgi-text">{{transaction.get_transaction_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% if transaction.payment_mode %}
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment Mode</div>
                                    <small class="lgi-text">{{transaction.get_payment_mode_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cheque_details %}
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cheque Details</div>
                                    <small class="lgi-text">{{transaction.cheque_details|default:"-"}}</small>
                                </div>
                            </div>

                            {% endif %}
                            {% if transaction.cheque_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Is Cheque Withdrawed</div>
                                    <small class="lgi-text">{{transaction.is_cheque_withdrawed|yesno:"Yes,No"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.card_details %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Card Details</div>
                                    <small class="lgi-text">{{transaction.card_details|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.payment_to and transaction.transaction_mode == "bank" %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Payment to</div>
                                    <small class="lgi-text">{{transaction.get_payment_to_display|default:"-"}}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.bank_account %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Bank Account</div>
                                    {% if request.user.is_superuser or 'can_view_bank_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:bank_account' pk=transaction.bank_account.pk %}">{{transaction.bank_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.bank_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction.cash_account %}
                             <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cash Account</div>
                                    {% if request.user.is_superuser or 'can_view_cash_account' in user_transaction.permissionlist %}
                                        <b class="info"><a href="{% url 'finance:cash_account' pk=transaction.cash_account.pk %}">{{transaction.cash_account.name|default:"-"}}</a></b>
                                    {% else %}
                                    <small class="lgi-text">{{transaction.cash_account.name|default:"-"}}</small>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>                    
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}