{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>
        
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Sales Info -- 2016 <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Customers Info -- 2017 <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="lineChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>Comparison Info -- 2015 <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="myChart2" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="RadialChart" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="donutChart" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="RadialChart2" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="donutChart2" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="RadialChart4" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="donutChart3" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="RadialChart3" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <canvas id="donutChart4" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
    <script src="{% static 'js/Chart.js' %}"></script>
    <script>

        var ctx = document.getElementById("myChart");
        Chart.defaults.global.animation.easing = 'easeInQuad';
        Chart.defaults.global.animation.duration = 1500;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul",'Aug',"Sep","Oct",'Nov',"Dec"],
                datasets: [{
                    label: '# sales',
                    data: {{lists}},
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                },
                {
                    label: '# amount',
                    data: {{list2}},
                    backgroundColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById("myChart2");
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul",'Aug',"Sep","Oct",'Nov',"Dec"],
                datasets: [{
                    label: '# sales',
                    data: {{lists}},
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                },
                {
                    label: '# amount',
                    data: {{list2}},
                    backgroundColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });


        var lineChart = document.getElementById("lineChart");
        var myChart = new Chart(lineChart, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul",'Aug',"Sep","Oct",'Nov',"Dec"],
                datasets: [{
                    label: '# sales',
                    data: {{lists}},
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                },
                {
                    label: '# amount',
                    data: {{list2}},
                    backgroundColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderColor: ["#9c27b0","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    borderWidth: 1
                }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var dch = document.getElementById("donutChart");
        var myDoughnutChart = new Chart(dch, {
            type: 'doughnut',
            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });

        var dch2 = document.getElementById("donutChart2");
        var myDoughnutChart2 = new Chart(dch2, {
            type: 'doughnut',
            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });

        var dch3 = document.getElementById("donutChart3");
        var myDoughnutChart3 = new Chart(dch3, {
            type: 'doughnut',
            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });

        var dch4 = document.getElementById("donutChart4");
        var myDoughnutChart4 = new Chart(dch4, {
            type: 'doughnut',
            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },

        });

        var rch = document.getElementById("RadialChart");
        var myRadialChart = new Chart(rch, {
            type: 'pie',

            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });

        var rch2 = document.getElementById("RadialChart2");
        var myRadialChart2 = new Chart(rch2, {
            type: 'pie',

            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });
        var rch3 = document.getElementById("RadialChart3");
        var myRadialChart3 = new Chart(rch3, {
            type: 'pie',

            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });

        var rch4 = document.getElementById("RadialChart4");
        var myRadialChart4 = new Chart(rch4, {
            type: 'pie',

            data: {
                labels: ["Jan","Feb","Mar","Apr","may","Jun","jul","Aug","Sep","Oct",  "Nov", "Dec"],
                datasets: [{
                    data: {{lists}},
                    borderWidth: 1,
                    backgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"],
                    hoverBackgroundColor: ["#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56","#FF6384","#36A2EB","#FFCE56"]
                }]
            },
        });
        </script>
{% endblock %}