<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tax Invoice | Arkboss</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{app_title}}</title>
	{% load static %}
    <!-- Vendor CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">        
    <link href="{% static 'vendors/bower_components/google-material-color/dist/palette.css' %}" rel="stylesheet">
    
    <!-- CSS -->
    <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet"> 
</head>
<body>
	{% load i18n %}
	{% load static %}
	{% load users_template_tags %}
	{% load main_template_tags %}
	<div class="print_container">
		<table class="header top">
			<tr>
				<td colspan="10">TAX INVOICE</td>
				<td class="small">CLR000009</td>
				<td class="small">23/4/2017</td>
				<td class="small">RS 12334.89</td>
			</tr>
		</table>
		<table class="address">
			<tr>
				<td>
					<h2>Vijaya Traders Private Limited</h2>
					<h3>GSTIN : 12354254</h3>
				</td>
				<td>
					<p>123 6th St. Melbourne, FL 32904,123 6th St. Melbourne, FL 32904</p>
				</td>
			</tr>
			<tr class="user_details">
				<td>
					<h2>Billing Details</h2>
					<p><strong>123 6th St. Melbourne,</strong><br /> FL 32904,123 6th St. Melbourne, FL 32904</p>
				</td>
				<td>
					<h2>Shipping Details</h2>
					<p><strong>123 6th St. Melbourne,</strong><br /> FL 32904,123 6th St. Melbourne, FL 32904</p>
				</td>
			</tr>
		</table>
		<table class="spotlight">
			<tr>
				<td>
					<h5>Invoice Date</h5>
					<h6>27/06/2017</h6>
				</td>
				<td>
					<h5>Payment terms</h5>
					<h6>On Receipt</h6>
				</td>
				<td>
					<h5>Due Date</h5>
					<h6>27/06/2017</h6>
				</td>
			</tr>
		</table>

		<table class="content">
			<tr>
				<th>S.No</th>
				<th>Item Description</th>
				<th>HSN</th>
				<th>Qty</th>
				<th>Unit</th>
				<th>Price</th>
				<th>Total</th>
				<th>Discount</th>
				<th>Taxable<br />Value</th>
				<th class="last">
					<table>
						<tr>
							<td colspan="2">CGST</td>
							<td colspan="2">SGST</td>
							<td colspan="2">IGST</td>
						</tr>
						<tr>
							<td>Rate</td>
							<td>Amt</td>
							<td>Rate</td>
							<td>Amt</td>
							<td>Rate</td>
							<td>Amt</td>
						</tr>
					</table>
				</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Bathing Soap</td>
				<td>34011110</td>
				<td>10</td>
				<td>Gram</td>
				<td>20.00</td>
				<td>200.00</td>
				<td>0.00</td>
				<td>200.00</td>
				<td class="last">
					<table>
						<tr>
							<td>18%</td>
							<td>36</td>
							<td>-</td>
							<td>-</td>
							<td>18%</td>
							<td>36</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>9</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>10</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>11</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>12</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>13</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>14</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>15</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>16</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>17</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>18</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>19</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>20</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>21</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>22</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Shampoo jsdfjsdflksdjfh djfgsjdhf</td>
				<td>34011111</td>
				<td>8</td>
				<td>Gram</td>
				<td>50.00</td>
				<td>400.00</td>
				<td>0.00</td>
				<td>400.00</td>
				<td class="last">
					<table>
						<tr>
							<td>15%</td>
							<td>60</td>
							<td>3%</td>
							<td>12</td>
							<td>18%</td>
							<td>72</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><strong>TOTAL</strong></td>
				<td>600.00</td>
				<td>0.00</td>
				<td>96.00</td>
				<td class="last">
					<table>
						<tr>
							<td></td>
							<td>96.00</td>
							<td></td>
							<td>12.00</td>
							<td></td>
							<td>108.00</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="bottom">
			<tr>
				<td>
					<h4>Total Invoice value (In fugure)</h4>
				</td>
				<td>
					<h4>RS 12334.89</h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Total Invoice value (In words)</h4>
				</td>
				<td>
					<h5>Twelwe thousand three hundred and thirty four point eight nine</h5>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Amount Of tax subject to reverse charges</h4>
				</td>
				<td>
					<table class="value">
						<tr>
							<td>96.00</td>
							<td>12.00</td>
							<td>108.00</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="footer">
			<tr>
				<td valign="top">
					<h3>Declaration</h3>
					<p>We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct.</p>
				</td>
				<td valign="top">
					<h3>Customer Notes</h3>
					<p>Have a nice Day</p>
				</td>
				<td valign="top">
					<h3>Authorised Signatory</h3>
				</td>
			</tr>
		</table>
	</div>
	<button class="btn btn-float bgm-red m-btn print-button" data-action="print"><i class="zmdi zmdi-print"></i></button>
	{% include 'includes/extra/ie.html' %}

    {% include 'includes/extra/js.html' %}
    <input type="hidden" value="{{auto_redirect|yesno:'yes,no'}}" id="auto_redirect"/>
    
	<script type="text/javascript">
        
        window.onload = function(){
            var button = document.querySelector('.print-button');
            button.click();
        }
        
    </script>
	<style>
		body {
			margin: 0;
			font-family: "Courier New",Courier, Arial, Helvetica, sans-serif;
			background: #f5f5f5;
		}
		.print_container {
			width: 210mm;
			margin: 0 auto;
			background: #fff;
		}
		table {  
		    border-collapse: collapse;
		}
		th, td {
		    padding: 0;
		}
		table {
			width: 100%;
		}
		h5, h6, h4 {
			margin: 0;
		}
		.header.top {
			background: #0A0A3C;
			font-size: 13pt;
			text-transform: uppercase;
			color: #fff;
		}
		.header.top td:nth-child(1){
			text-align: left;
		}
		.header.top td {
			text-align: center;
			padding: 10px;
		}
		.header.top td.small {
			width: 120px;
		}
		.header.top td:nth-child(3) {
			border-left: 2px solid rgba(255,255,255,.5);
			border-right: 2px solid rgba(255,255,255,.5);
			width: 
		}
		.header.top td:last-child{
			text-align: right;
		}
		.address tr td {
			border-bottom: 1px solid #0A0A3C;
		}
		.address h2 {
			font-size: 13pt;
			margin: 0;
			margin-bottom: 10px;
			margin-top: 20px;
		}
		.address h3 {
			font-size: 12pt;
			color: #9E9E9E;
			font-weight: normal;
			margin-top: 0;
		}
		.address .user_details td {
			border-bottom: none;
		}
		.address .user_details td:first-child p {
			max-width: 250px;
		}
		.address p {
			font-size: 11pt;
		}
		.address td:nth-child(2) {
			width: 250px;
		}
		.spotlight td:first-child {
			text-align: right;
			padding-right: 20px;
		}
		.spotlight td:nth-child(2) {
			width: 150px;
			border-left: 2px solid #9E9E9E;
			border-right: 2px solid #9E9E9E;
			text-align: center;
		}
		.spotlight td:last-child {
			text-align: left;
			padding-left: 20px;
		}
		.spotlight {
			table-layout: fixed;
		}
		.spotlight td:first-child, .spotlight td:last-child, {
			width: 40%;
		}
		.spotlight h5 {
			margin-bottom: 5px;
		}
		.spotlight h6 {
			font-weight: normal;
		}
		.content {
			margin-top: 20px;
		}
		.content td, .content th{
			border: 1px solid #f5f5f5;
			font-size: 7pt;
			font-weight: normal;
			text-align: center;
			padding: 5px 0;
		}
		.content .last, .content .last{
			padding:0;
			width: 250px;
			margin: 0
		}
		.content .last td, .content .last td{
			border-top:none;
			border-bottom: none;
		}
		.content .last table, .content .last table{
			table-layout: fixed;
		}
		.bottom {
			margin-top: 20px;
		}
		.bottom td:nth-child(2) {
			width: 250px;
		}
		.bottom h4 {
			font-weight: normal;
			font-size: 11pt;
			margin-bottom: 10px;
		}
		.bottom h5 {
			font-weight: normal;
			font-size: 10pt;
			margin-bottom: 10px;
		}
		.bottom table.value {
			table-layout: fixed;
		}
		.bottom table.value td {
			border: 1px solid #9E9E9E;
			text-align: center;
			padding : 5px 0;
		}
		.bottom table.value td:nth-child(2) {
			width: auto;
		}
		.footer {
			table-layout: fixed;
			border-top: 1px solid #9E9E9E;
			border-bottom: 1px solid #9E9E9E;
			margin-top: 20px;
		}
		.footer td {
			width: 35%;
		}
		.footer td:nth-child(2) {
			text-align: center;
		}
		.footer td:last-child {
			width: 30%;
		}
		.footer h3{
			margin-top: 20px;
			font-weight: 500;
		}
		.footer p {
			font-size: 10pt;
		}
	</style>
</body>
</html>