{% extends "invoice_base.html" %}
{% load i18n %}
{% load static %}
{% load users_template_tags %}
{% block content %}
{% load main_template_tags %}

    <section id="content">
        <div class="container invoice">
            <div class="c-header">
                <h2 class="m-t-20 pull-left">{{title}}</h2>
                <a href="{% url "sales:create" %}" class="btn btn-primary m-t-15 pull-right">Back to Sale</a>
                <br class="clear">
            </div>
            
            <div class="card">
                
                <div class="card-header ch-alt text-center">
                    {% if current_shop.logo %}
                    <img class="i-logo" src="{{current_shop.logo.url}}" alt="{{current_shop.name}}">
                    {% else %}
                    <img src="{% static 'img/logo-print.png' %}" alt="{{current_shop.name}}" />
                    {% endif %}
                </div>
                
                <div class="card-body card-padding">
                    <div class="row m-b-25">
                        <div class="col-xs-6">
                            <div class="text-right">
                                
                                <h4>{{current_shop.name|upper}}</h4>

                                <span class="text-muted">
                                    <address>
                                        {{current_shop.address}}
                                    </address>
        
                                    {{current_shop.phone}}<br/>
                                    {{current_shop.email}} <br />
                                    {{current_shop.tin_number}}
                                </span>
                            </div>
                        </div>
                        
                        <div class="col-xs-6">
                            <div class="i-to">
                                
                                <h4>{{instance.customer.name|check_default}}</h4>
                                
                                <span class="text-muted">
                                    <address>
                                        {{instance.customer.address|check_default|default:"-"}}
                                    </address>
        
                                    {{instance.customer.phone|default:"-"}}<br/>
                                    {{instance.customer.email|default:"-"}}
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <div class="row m-t-25 p-0 m-b-25">
                        <div class="col-xs-3">
                            <div class="bgm-amber brd-2 p-15">
                                <div class="c-white m-b-5">Sale#</div>
                                <h2 class="m-0 c-white f-300">{{instance.a_id}}</h2>
                            </div>
                        </div>
                        
                        <div class="col-xs-3">
                            <div class="bgm-blue brd-2 p-15">
                                <div class="c-white m-b-5">Time</div>
                                <h2 class="m-0 c-white f-300">{{instance.time.date}}</h2>
                            </div>
                        </div>
                        
                        <div class="col-xs-3">
                            <div class="bgm-green brd-2 p-15">
                                <div class="c-white m-b-5">You Have Saved</div>
                                <h2 class="m-0 c-white f-300">{{saved_amount}}</h2>
                            </div>
                        </div>
                        
                        <div class="col-xs-3">
                            <div class="bgm-red brd-2 p-15">
                                <div class="c-white m-b-5">Grand Total</div>
                                <h2 class="m-0 c-white f-300">{{instance.total}}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <table class="table i-table m-t-25 m-b-25">
                        <thead class="text-uppercase">
                            <th class="c-gray">PRODUCT</th>
                            <th class="c-gray">QUANTITY</th>
                            <th class="c-gray">PRICE</th>
                            <th class="c-gray">Tax(%)</th>
                            <th class="c-gray">DISCOUNT</th>
                            <th class="highlight">SUB TOTAL</th>
                        </thead>
                        
                        <tbody>
                            <thead>
                                {% for item in sale_items %}
                                <tr>
                                    <td width="50%">
                                        <h5 class="text-uppercase f-400">{{item.product.name}}</h5>
                                    </td>
                                    
                                    <td>{{item.qty}}</td>
                                    <td>{{item.tax_added_price}}</td>
                                    <td>{{item.tax}}</td>
                                    <td>{{item.discount}}</td>
                                    <td class="highlight">{{item.subtotal}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Subtotal</td>
                                    <td class="highlight">{{instance.subtotal}}</td>
                                </tr>
                                {% if not instance.old_credit == 0 %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Credit (+)</td>
                                    <td class="highlight">{{instance.old_credit}}</td>
                                </tr>
                                {% endif %}

                                {% if not instance.old_debit == 0 %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Debit (-)</td>
                                    <td class="highlight">{{instance.old_debit}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Discount</td>
                                    <td class="highlight">{{instance.total_discount_amount}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Special Discount</td>
                                    <td class="highlight">{{instance.special_discount}}</td>
                                </tr>
                                {% if need_tax_calculation == "y" %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Vat</td>
                                    <td class="highlight">{{instance.total_tax_amount}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Round Off</td>
                                    <td class="highlight">{{instance.round_off}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Payment</td>
                                    <td class="highlight">{{instance.payment_received}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400" colspan="5">Balance Amount</td>
                                    <td class="highlight">{{instance.balance}}</td>
                                </tr>
                            </thead> 
                        </tbody>
                    </table>
                    
                    <div class="clearfix"></div>
                </div>
                
                <footer class="m-t-15 p-20">
                    <ul class="list-inline text-center list-unstyled">
                        <li class="m-l-5 m-r-5"><small>{{current_shop.email}}</small></li>
                        <li class="m-l-5 m-r-5"><small>{{current_shop.phone}}</small></li>
                        <li class="m-l-5 m-r-5"><small>{{current_shop.website}}</small></li>
                    </ul>
                </footer>
            </div>
            
        </div>
        <button class="btn btn-float bgm-red m-btn print-button" data-action="print"><i class="zmdi zmdi-print"></i></button>
    </section>

{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript">
        
        window.onload = function(){
            var button = document.querySelector('.print-button');
            button.click();
        }
        
    </script>
{% endblock %}