{% extends "invoice_base.html" %}
{% load i18n %}
{% load static %}
{% load users_template_tags %}
{% block content %}
{% load main_template_tags %}

    <section id="content">
        <div class="container invoice">
            <div class="c-header">
                <h2 class="m-t-20 pull-left">{{title}}</h2>
                <br class="clear">
            </div>
            
            <div class="card">
                
                <div class="card-body card-padding">
                    <div class="row m-b-25">
                        <div class="col-xs-12">
                            <div class="text-center">
                                {% if current_shop.logo %}
                                    <img class="i-logo" src="{{current_shop.logo.url}}" alt="{{current_shop.name}}">
                                {% else %}
                                    <img src="{% static 'img/logo-print.png' %}" alt="{{current_shop.name}}" />
                                {% endif %}
                                
                                <h4>{{current_shop.name|upper}}</h4>

                                <span class="text-muted">
                                    <address>
                                        {{current_shop.address}}
                                    </address>
                                    {{current_shop.phone}}<br/>
                                    {{current_shop.email}} <br />
                                    {{current_shop.tin_number}}
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    

                    <div class="clearfix"></div>
                    
                    <h3>{{title}}</h3>
                    {% if instances %}
                     <table class="table m-t-25 m-b-25">
                         <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric">ID</th>
                                <th>Time</th>
                                <th>Customer</th>
                                <th>Sub Total</th>
                                <th>Special Discount</th>
                                <th>Total</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in instances %}
                            <tr class="check_items_row">
                                <td>{{instance.a_id}}</td>
                                <td>{{instance.time}}</td>
                                <td>{{instance.customer}}</td>
                                <td>{{instance.subtotal}}</td>
                                <td>{{instance.special_discount}}</td>
                                <td>{{instance.total}}</td>
                                <td>{{instance.balance}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <table class="table m-t-25 m-b-25">
                        
                        <tbody>
                            <thead>
                                <tr>
                                    <th class="text-uppercase f-400 b-black" colspan="4">Description</th>
                                    <th>Amount</th>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Total Sales</td>
                                    <td class="f-700">{{sales_count|default:"0.00"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Total Sales Amount</td>
                                    <td class="f-700">{{sales_total|default:"0.00"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Special Discounts</td>
                                    <td class="f-700">{{special_discount_total|default:"0.00"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Payment Recieved</td>
                                    <td class="f-700">{{payment_received_total|default:"0.00"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Total Balance</td>
                                    <td class="f-700">{{balance_total|default:"0.00"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Total Tax Amount</td>
                                    <td class="f-700">{{total_tax_amount_total|default:"0.00"}}</td>
                                </tr>
                                {% for key, values in tax_percentage_dict.items %}
                                <tr>
                                    <td class="text-uppercase f-400 b-black" colspan="4">Tax Amount {{key}}%</td>
                                    <td class="f-700">{{values|default:"0.00"}}</td>
                                </tr>
                                {% endfor %}
                            </thead> 
                        </tbody>
                    </table>
                    
                    <div class="clearfix"></div>
                </div>
                
                <footer class="m-t-15 p-20 p-fixed">
                    <ul class="list-inline text-center list-unstyled">
                        <li class="m-l-5 m-r-5"><small>{{current_shop.email}}</small></li>
                        <li class="m-l-5 m-r-5"><small>{{current_shop.phone}}</small></li>
                        <li class="m-l-5 m-r-5"><small>{{current_shop.website}}</small></li>
                    </ul>
                </footer>
            </div>
            
        </div>
        <button class="btn btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>
    </section>
    <style>
        table tr td, table tr th {
            border: 1px solid #000;
            border-top: 1px solid #000 !important;
            border-bottom: 1px solid #000 !important;
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
{% endblock %}

{% block static %}
    {% load static %}
    <script type="text/javascript">
        $(document).keydown(function(e) { 
            e.preventDefault();                  
            if(e.keyCode == 123){
                window.print();
            }
        });
    </script>
    
{% endblock %}