{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
    <section id="content">
        <div class="container">
           <div class="c-header">
                <h2>{{title}}</h2>
            </div>           
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                
            </div>
            <form class="ajax reset {% if redirect %}redirect{% endif %} skip_empty_row" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h2>Items <small></small></h2>
                    </div>
                    
                    <div class="table-responsive card-body card-padding add_item_container asset_purchase_item_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="asset">Asset</th>
                                    <th data-column-id="qty">Qty</th>
                                    <th data-column-id="price">Price</th>                        
                                    <th data-column-id="discount">Discount</th>
                                    <th data-column-id="email">Sub Total</th>
                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in asset_purchase_item_formset.forms %}               
                                <tr class="form_set_row">
                                    <td>
                                        {{ form.id }}
                                        <span class="asset_purchase_item p-relative">                                 
                                            {{ form.asset }}
                                        </span>
                                    </td>                                     
                                    <td>
                                        <span class="asset_purchase_item_qty check_empty p-relative">
                                            {{ form.qty }}
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <span class="asset_purchase_item_price p-relative">
                                            {{ form.price }}
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <span class="asset_purchase_item_discount p-relative">
                                            {{ form.discount }}
                                        </span>
                                    </td>                                   
                                    
                                    <td>
                                        <span class="asset_purchase_item_subtotal p-relative">
                                            <input type="text" disabled class="form-control" />
                                        </span>
                                    </td>
                                    <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ asset_purchase_item_formset.management_form }}
                    </div> 
                </div>               
                <div id="c-grid" class="clearfix" data-columns="2"> 
                    
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.time.id_for_label }}">
                                    {{ form.time.label }}
                                    {% if form.time.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.time.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                
                                {% timezone user_time_zone %}
                                    <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{% now "m-d-Y H:i:s" %}">
                                {% endtimezone %}
                                
                                
                                {% if form.time.errors %}
                                    <label class="error">{{ form.time.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.vendor.id_for_label }}">
                                    {{ form.vendor.label }}
                                    {% if form.vendor.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.vendor.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.vendor.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.vendor }}
                                
                                {% if form.vendor.errors %}
                                    <label class="error">{{ form.vendor.errors.as_text }}</label>
                                {% endif %}
                            </div>  
                        </div> 
                    </div> 
                    <div class="card m-b-0">
                        <div class="card-header">
                            <h2>Transaction Details <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                    <label for="{{ form.transaction_mode.id_for_label }}">
                                        {{ transaction_form.transaction_mode.label }}
                                        {% if transaction_form.transaction_mode.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.transaction_mode.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.transaction_mode }}
                                    
                                    {% if transaction_form.transaction_mode.errors %}
                                        <label class="error">{{ transaction_form.transaction_mode.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                 <div class="form-group fg-line">
                                    <label for="{{ form.payment_mode.id_for_label }}">
                                        {{ transaction_form.payment_mode.label }}
                                        {% if transaction_form.payment_mode.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.payment_mode.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.payment_mode }}
                                    
                                    {% if transaction_form.payment_mode.errors %}
                                        <label class="error">{{ transaction_form.payment_mode.errors.as_text }}</label>
                                    {% endif %}
                                </div>
                                
                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ form.cheque_details.id_for_label }}">
                                        {{ transaction_form.cheque_details.label }}
                                        {% if transaction_form.cheque_details.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.cheque_details.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.cheque_details }}
                                    
                                    {% if transaction_form.cheque_details.errors %}
                                        <label class="error">{{ transaction_form.cheque_details.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="row">
                                        <div class="form-group col-sm-5 m-b-20">
                                            <div class="toggle-switch">
                                                <label class="ts-label" for="{{ form.is_cheque_withdrawed.id_for_label }}">
                                                    {{ transaction_form.is_cheque_withdrawed.label }}
                                                    {% if transaction_form.is_cheque_withdrawed.field.required %}
                                                        <small class="star">*</small>
                                                    {% endif %}
                                                    
                                                    {% if transaction_form.is_cheque_withdrawed.help_text %}
                                                        <span data-original-title="Field Info" title="" data-content="{{ form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                    {% endif %}
                                                </label>
                                                {{ transaction_form.is_cheque_withdrawed }}
                                                <label class="ts-helper" for="ts1"></label>
                                            </div>
                                            
                                            {% if transaction_form.is_cheque_withdrawed.errors %}
                                                <label class="error">{{ transaction_form.is_cheque_withdrawed.errors.as_text }}</label>
                                        {% endif %}
                                        </div>
                                    </div>

                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ form.card_details.id_for_label }}">
                                        {{ transaction_form.card_details.label }}
                                        {% if transaction_form.card_details.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.card_details.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.card_details }}
                                    
                                    {% if transaction_form.card_details.errors %}
                                        <label class="error">{{ transaction_form.card_details.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group fg-line">
                                    <label for="{{ form.payment_to.id_for_label }}">
                                        {{ transaction_form.payment_to.label }}
                                        {% if transaction_form.payment_to.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.payment_to.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.payment_to }}
                                    
                                    {% if transaction_form.payment_to.errors %}
                                        <label class="error">{{ transaction_form.payment_to.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ form.bank_account.id_for_label }}">
                                        {{ transaction_form.bank_account.label }}
                                        {% if transaction_form.bank_account.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.bank_account.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.bank_account }}
                                    
                                    {% if transaction_form.bank_account.errors %}
                                        <label class="error">{{ form.bank_account.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group fg-line">
                                    <label for="{{ form.cash_account.id_for_label }}">
                                        {{ transaction_form.cash_account.label }}
                                        {% if transaction_form.cash_account.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.cash_account.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.cash_account }}
                                    
                                    {% if transaction_form.cash_account.errors %}
                                        <label class="error">{{ transaction_form.cash_account.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                                <div class="form-group fg-line m-b-0">
                                    <label for="{{ form.shop_credit_user.id_for_label }}">
                                        {{ transaction_form.shop_credit_user.label }}
                                        {% if transaction_form.shop_credit_user.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if transaction_form.shop_credit_user.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.shop_credit_user.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                        {% endif %}
                                    </label>
                                    {{ transaction_form.shop_credit_user }}
                                    
                                    {% if transaction_form.shop_credit_user.errors %}
                                        <label class="error">{{ transaction_form.shop_credit_user.errors.as_text }}</label>
                                    {% endif %}
                                </div>

                        </div> 
                    </div> 
                    <div class="card m-b-0">
                        <div class="card-header">
                            <h2>Payment Details <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label>Sub Total</label>
                                <input id="sub_total_amount" class="form-control" disabled type="text" value="0.00" />
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.special_discount.id_for_label }}">
                                    {{ form.special_discount.label }}
                                    {% if form.special_discount.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.special_discount.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.special_discount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.special_discount }}
                                
                                {% if form.special_discount.errors %}
                                    <label class="error">{{ form.special_discount.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label>Round Off</label>
                                <input id="id_round_off" class="form-control" disabled type="text" value="0.00" />
                            </div>
                            <div class="form-group fg-line">
                                <label>Total</label>
                                <input id="total_amount" class="form-control" disabled type="text" value="0.00" />
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.paid_amount.id_for_label }}">
                                    {{ form.paid_amount.label }}
                                    {% if form.paid_amount.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.paid_amount.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.paid_amount.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.paid_amount }}
                                
                                {% if form.paid_amount.errors %}
                                    <label class="error">{{ form.paid_amount.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-0">
                                <label>Balance</label>
                                <input id="balance" class="form-control" disabled type="text" value="0.00" />
                            </div>

                            
                        </div> 
                    </div> 

                    <br class="clear" />
                
                </div>
                
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
    function showHideCreditUser(){
            var category = $('#id_transaction_category option:selected').text();
            var $user_parent = $('#id_shop_credit_user').parents('div.form-group');
            if(category == "debit"){
                $user_parent.show();
            }else{
                $user_parent.hide();
            }
        }
        
        function showHideCashBank(){
            var mode = $('#id_transaction_mode').val();
            var $bank_parents = $('.bank_item').parents('div.form-group');
            if (mode == "cash"){
                $bank_parents.hide();
                $('#id_payment_to').val('cash_account').change();
                $('#id_cash_account').parents('div.form-group').show();
            }else{
                $bank_parents.show();       
                showHidePaymentModeItems();     
            }
        }
        
        function showHidePaymentModeItems(){
            var transaction_mode = $('#id_transaction_mode').val();         
            if(transaction_mode == "bank"){
                var mode = $('#id_payment_mode').val();
                var $cheque_parents = $('.cheque_item').parents('div.form-group');
                var $card_parents = $('.card_item').parents('div.form-group');
                if (mode == "cheque_payment"){
                    $cheque_parents.show();
                    $card_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_cash_account').parents('div.form-group').hide();
                    
                }else if(mode == "card_payment"){
                    $cheque_parents.hide();
                    $card_parents.show();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                    
                }else if(mode == "internet_banking"){
                    $card_parents.hide();
                    $cheque_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                }
                
                showHidePaymentToItems();
            }           
        }
        
        function showHidePaymentToItems(){
            var transaction_mode = $('#id_transaction_mode').val();
            if(transaction_mode == "bank"){
                var to = $('#id_payment_to').val();
                if(to == "bank_account"){
                    $('#id_bank_account').parents('div.form-group').show();
                    $('#id_cash_account').parents('div.form-group').hide();
                }else{
                    $('#id_cash_account').parents('div.form-group').show();
                    $('#id_bank_account').parents('div.form-group').hide();
                }
            }
        }
        
        $(document).ready(function(){
            showHideCreditUser();
            showHideCashBank();
            showHidePaymentModeItems();
            showHidePaymentToItems();
            
            $(document).on('change','#id_transaction_category',function(){
                showHideCreditUser();
            });
            
            $(document).on('change','#id_transaction_mode',function(){
                showHideCashBank();
            });
            
            $(document).on('change','#id_payment_mode',function(){
                showHidePaymentModeItems();
            });
            
            $(document).on('change','#id_payment_to',function(){
                showHidePaymentToItems();
            });
            $('.asset_purchase_item_formset table tr.form_set_row').formset({
                prefix: '{{ asset_purchase_item_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                
            });                
            $('input[type=text]').focus(function () { 
            $(this).select();
                });
            
            function calculate(){
                var asset_purchase_item_total = 0; 
                var asset_purchase_item_total1 = 0;
                var asset_purchase_item_total2 = 0;
                var total_tax_amount = 0; 
                var total_discount = 0; 

                
                $('.asset_purchase_item_formset table tr.form_set_row').each(function(){
                    $this = $(this);
                    var qty = parseFloat($this.find('.asset_purchase_item_qty input').val());
                    if(!qty){
                        qty = 0;
                    }
                    var price = parseFloat($this.find('.asset_purchase_item_price input').val());
                    if(!price){
                        price = 0;
                    }
                    var discount = parseFloat($this.find('.asset_purchase_item_discount input').val());
                    if(!discount){
                        discount = 0;
                    }
                    
                    var subtotal = qty * price - discount;
                    $this.find('.asset_purchase_item_subtotal input').val(subtotal.toFixed(2));
                    $this.find('.asset_purchase_item_discount input').val(discount.toFixed(2));

                    asset_purchase_item_total += subtotal;
                    total_discount += discount;
                });
                
                $('#id_total_discount').val(total_discount.toFixed(2));
                
                var special_discount = parseFloat($('#id_special_discount').val());
                if(!special_discount){
                    special_discount = 0;
                }
                $('#sub_total_amount').val(asset_purchase_item_total.toFixed(2)); 
                
                var total = asset_purchase_item_total - special_discount;
                
                var rounded_amount = Math.round(total);
                var extra = rounded_amount - total;
                var round_off = Math.round(extra * 100) / 100
                $('#id_round_off').val(round_off);
                $('#total_amount').val(rounded_amount);

                var paid_amount = parseFloat($('#id_paid_amount').val());
                if(!paid_amount){
                    paid_amount = 0;
                }
                
                var balance = rounded_amount - paid_amount;
                $('#balance').val(balance);


            }            
           
            calculate();

            $(document).on('change keyup','#id_special_discount,#id_discount,#id_paid_amount,.asset_purchase_item_qty input,.asset_purchase_item_price input,.asset_purchase_item_discount input',function(){
                calculate();
            });

            $(document).on('change','.asset_purchase_item_discount input',function(){
                calculate();
            });

        });
    </script>

    {{form.media}}
{% endblock %}