{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div> 
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.vendor}} - {{instance.total}}</div>


                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_create_purchase' in user_instance.permissionlist %}
                    <li>
                        <a title="Create purchase" href="{% url 'purchases:create_purchase' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_modify_purchase' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit purchase" href="{% url 'purchases:edit_purchase' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a title="Email purchase" href="{% url 'purchases:email_purchase' pk=instance.pk %}">
                            <i class="zmdi zmdi-email"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Print purchase" target="_blank" href="{% url 'purchases:print' pk=instance.pk %}">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                    </li>
                    {% if "is_superuser" or 'can_delete_purchase' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete purchase" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'purchases:delete_purchase' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}                                
                </ul>
            </div>
            
            {% if purchase_items %}
            <div class="card">
                <div class="card-header">
                    <h2>Items <small></small></h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in purchase_items %}
                                <tr>
                                    <td>{{i.product}}</td>
                                    <td>{{i.qty}}</td>
                                    <td>{{i.unit}}</td>
                                    <td>{{i.price}}</td>
                                    <td>{{i.subtotal}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">ID</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">vendor</div>
                                    <small class="lgi-text"><a href="{% url 'vendors:vendor' pk=instance.vendor.pk %}">{{instance.vendor}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Time</div>
                                    <small class="lgi-text">{{instance.time}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Invoice Id</div>
                                    <small class="lgi-text">{{instance.invoice_id|default:"-"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Payment Details <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Subtotal</div>
                                    <small class="lgi-text">{{instance.subtotal}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Discount</div>
                                    <small class="lgi-text">{{instance.special_discount}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Total</div>
                                    <small class="lgi-text">{{instance.total}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Credit Amount Added</div>
                                    <small class="lgi-text">{{instance.credit_amount_added}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">After Paid Amounts</div>
                                    <small class="lgi-text">{{instance.paid_amount_added}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Paid Amount </div>
                                    <small class="lgi-text">{{instance.paid_amount}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Balance</div>
                                    <small class="lgi-text">{{instance.balance}}</small>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div id="c-grid" class="clearfix" data-columns="2">
                    <div class="card">
                        <div class="card-header">
                            <h2>Created &amp; Updated <small></small></h2>
                        </div>
                        <div class="card-body">
                            <div class="list-group lg-alt c-overflow">
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Date Added</div>
                                            <small class="lgi-text">{{instance.date_added}}</small>
                                        </div>
                                    </div>
                        
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Date Updated</div>
                                            <small class="lgi-text">{{instance.date_updated}}</small>
                                        </div>
                                    </div>

                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Created User</div>
                                        <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username}}</a></small>
                                    </div>
                                </div>
                        
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Last Updated User</div>
                                        <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username}}</a></small>
                                    </div>                    
                                </div>
                            </div>  
                        </div> 
                    </div>               
                </div>
            </div>

            {% if transactions %}
                <div class="card">
                    <div class="card-header">
                        <h2>Transactions <small></small></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Transaction Mode</th>
                                        <th>Payment Mode</th>
                                        <th>Bank Account</th>
                                        <th>Cash Account</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td>{{transaction.get_transaction_mode_display|default:"-"}}</td>
                                        <td>{{transaction.payment_mode|default:"-"}}</td>
                                        <td>{{transaction.bank_account|default:"-"}}</td>
                                        <td>{{transaction.cash_account|default:"-"}}</td>
                                        <td>{{transaction.amount|default:"-"}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}