{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Products <small></small></h2>
    </div>

    <div class="card-body">
    	{% if recent_products %}
        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Name</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in recent_products %}
                    <tr>
                        <td><a href="{% url 'products:product' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                        <td>{{instance.name}}</td>
                        <td>{{instance.stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        	<div class="card-padding card-body">
	        	<p>No products found</p>
	        </div>
        {% endif %}
    </div>
</div>