{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Customers <small></small></h2>
    </div>

    <div class="card-body">
    	{% if recent_customers %}
        <div class="list-group lg-alt c-overflow">
        	{% for customer in recent_customers %}
            <a href="{% url 'customers:customer' pk=customer.pk %}" class="list-group-item media">
                <div class="pull-left">
                    <img class="avatar-img" src="{% static 'img/profile-pics/1.jpg' %}" alt="">
                </div>

                <div class="media-body">
                    <div class="lgi-heading">{{customer.name}}</div>
                    <small class="lgi-text">{{customer.phone}} - {{customer.email}} - {{customer.address}}</small>
                </div>
            </a>
            {% endfor %}
            
            <a href="{% url 'customers:customers' %}" class="list-group-item view-more">
                <i class="zmdi zmdi-long-arrow-right"></i> View all
            </a>
        </div>
        
        {% else %}
        	<div class="card-padding card-body">
	        	<p>No customers found</p>
	        </div>
        {% endif %}
    </div>
</div>