{% load static %}
<div class="card">
    <div class="card-header">
        <h2>Recent Check Out <small></small></h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
        	{% if recent_checkout %}
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric">ID</th>
                        <th>Time</th>
                        <th>Customer</th>
                        <th>Total Days</th>
                        <th>Collect Amount</th>
                        <th>Balance</th>
                        <th data-column-id="action" class="four">Action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in recent_checkout %}
                    <tr>
                        <td><a href="{% url 'bookings:checkout' pk=instance.pk %}">{{instance.auto_id}}</a></td>
                        <td>{{instance.date}}</td>
                        <td><a href="{% url 'customers:customer' pk=instance.customer.pk %}">{{instance.customer}}</a></td>
                        <td>{{instance.checkin.total_days}}</td>
                        <td>{{instance.collect_amount}}</td>
                        <td>{{instance.balance}}</td>
                        <td class="four">
                        	<a href="{% url 'bookings:checkout' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                        	<a href="{% url 'bookings:edit_checkout' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                        	<a data-id="{{instance.pk}}" href="{% url 'bookings:delete_checkout' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                        	<a target='_blank' href="{% url 'bookings:print_checkout' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-print"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            	<div class="card-body card-padding">
	            	<p>No Checkout found</p>
	            </div>
            {% endif %}
        </div>
    </div>
</div>