{% load main_template_tags %}
<div class="card card-padding">
    <div class="card-body card-padding">
        <div class="row m-b-10">
            <!-- <div class="col-md-4">
                <div class="card palette-theme {{current_theme}} bg"> -->
                    <!-- <div class="card-header p-b-0 tz-white">
                        <h2 class="tz-white">Income <small></small></h2>
                    </div>
                    <div class="card-body card-padding tz-white">
                        <h3 id="id_total_income_amount" class="tz-white">0.00</h3> -->
                        <!-- <div class='d-l-b m-r-45'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Sale Count</small>
                            <small id="id_total_sales_created" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b m-r-45'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Sale Amount</small>
                            <small id="id_total_sales_amount" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Collected Amount</small>
                            <small id="id_total_other_income" class ='tz-white  p-r-3'>0.00</small>
                        </div> -->
                    <!-- </div>                    
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="card palette-theme {{current_theme}} bg">
                    <div class="card-body card-padding tz-white p-b-120">
                        <div class='d-l-b'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Income</small>
                            <small id="id_total_income_amount" class ='tz-white  f-z-15 p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b right'>
                            <small class="stats-label tz-white p-r-c-b f-15 d-b">Expence</small>
                            <small id="id_total_expense_amount" class ='tz-white  f-z-15 p-r-3'>0.00</small>
                        </div>      
                        <br class="clear">                  
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card palette-theme {{current_theme}} bg">
                    <!-- <div class="card-header p-b-0 tz-white">
                        <h2 class="tz-white">Expense<small></small></h2>
                    </div> -->
                    <div class="card-body card-padding tz-white p-b-120"> 
                        <div class='d-l-b'>
                            <small class="stats-label tz-white  f-15 d-b">Bank Account</small>
                            <small id="id_total_bank_amount" class ='tz-white f-z-15 p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b right'>
                            <small class="stats-label tz-white f-15 d-b">Current Balance</small>
                            <small id="id_current_balance" class ='tz-white  f-z-15 p-r-3'>0.00</small>
                        </div>
                        <br class="clear">
                    </div>

                    <!-- <div class="card-body card-padding tz-white">
                        <h3 id="id_total_expense_amount" class="tz-white">0.00</h3> -->
                        <!-- <div class='d-l-b m-r-45'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Return Count</small>
                            <small id="id_return_count" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b m-r-45'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Sale Return</small>
                            <small id="id_total_sale_return_amount" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        <div class='d-l-b'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Other Expense</small>
                            <small id="id_this_period_total_expense_amount" class ='tz-white  p-r-3'>0.00</small>
                        </div> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card palette-theme {{current_theme}} bg">
                    <div class="card-body card-padding tz-white p-b-120">  
                        <div class='d-l-b '>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Credit</small>
                            <small id="id_sale_total_balance" class ='tz-white f-z-15 p-r-3'>0.00</small>
                        </div>
                        {% if is_superuser %}
                        <div class='d-l-b right'>
                            <small class="stats-label tz-white p-r-c-b f-15 d-b">Profit</small>
                            <small id="id_total_profit_amount" class ='tz-white f-z-15 p-r-3'>0.00</small>
                        </div> 
                        <br class="clear">
                        {% endif %}                     
                        <!-- <div class='d-l-b m-r-45'>
                            <small class="stats-label tz-white p-r-c-b f-15 d-b">Credit</small>
                            <small id="id_sale_total_balance" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        {% if is_superuser %}
                        <div class='d-l-b m-t-30'>
                            <small class="stats-label tz-white p-r-3 f-15 d-b">Profit</small>
                            <small id="id_total_profit_amount" class ='tz-white  p-r-3'>0.00</small>
                        </div>
                        {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if rooms %}
                <div class="col-md-3" style="margin-bottom: 30px;">
                    <label style="width: 50px;height: 20px;background-color: #448AFF
                    "><h style="margin-left: 70px;">Cleaning</h></label>
                </div>
                <div class="col-md-3" style="margin-bottom: 30px;">
                    <label style="width: 50px;height: 20px;background-color: #F57C00
                    "><h style="margin-left: 70px;">Booked</h></label>
                </div>
                <div class="col-md-3" style="margin-bottom: 30px;">
                    <label style="width: 50px;height: 20px;background-color: #388E3C
                    "><h style="margin-left: 70px;">Vacant</h></label>
                </div>
                <div class="col-md-3" style="margin-bottom: 30px;">
                    <label style="width: 50px;height: 20px;background-color: #E53935
                    "><h style="margin-left: 70px;">Occupied</h></label>
                </div>
                <div>
                {% for room in rooms %}
                <div class="col-md-2">
                    {% if room.is_cleaning %}  
                    <div class="card palette-theme bg-color-new-blue bg"> 
                    {% elif room.pk|is_booked %}  
                    <div class="card palette-theme bg-color-new-orange bg">
                    {% elif room.pk|is_occupied %} 
                    <div class="card palette-theme bg-color-new-red bg">
                    {% else %}
                    <div class="card palette-theme bg-color-new-green bg">
                    {% endif %}                
                        <div class="p-13 tz-white">                 
                            <div class='text-center p-5'>
                                <i class="zmdi zmdi-hotel"></i>
                                <small class="stats-label tz-white f-15 d-b">{{room.name}}</small>
                                <small class="stats-label tz-white f-15 d-b">{{room.get_room_type_display}}</small>
                            </div>                    
                        </div>
                    </div>
                </div> 
                {% endfor %}                        
            </div>
            {% endif %}
            </div>
            <div class="col-md-4">
                <ul class="stat-list m-t-lg list-unstyled">
                    <li>
                        <h4 id="id_total_income" class="no-margins">0.00</h4>
                        <small>Total Income in period</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_income_progress_bar"></div>
                        </div>
                    </li>
                    <li>
                        <h4 id="id_total_expense" class="no-margins ">0.00</h4>
                        <small>Total Expense in period</small>
                        <div class="progress progress-mini">
                            <div class="progress-bar" id="id_expense_progress_bar"></div>
                        </div>
                    </li>
                    <li class='width-half' style="border-right: 1px solid rgba(0,0,0,.15);"">
                        <h4 id="id_total_vendor_expense" class="no-margins ">0.00</h4>
                        <small>Monthly Vendor Expense</small>
                    </li>
                    <li class='width-half'>
                        <h4 id="id_toatl_monthly_other_expense" class="no-margins ">0.00</h4>
                        <small>Monthly Other Expense</small>
                    </li>
                    <li>
                        <h4 id="id_total_monthly_balance" class="no-margins ">0.00</h4>
                        <small>Total Monthly Balance</small>
                    </li>
                </ul>
            </div>  
        </div> 

    </div>
    
</div>
<style>
    .bg-color-new-red {
        background-color: #E53935 !important;
        color:white !important;
    }
    .bg-color-new-blue {
        background-color: #448AFF !important;
        color:white !important;
    }
    .bg-color-new-orange {
        background-color: #F57C00 !important;
        color:white !important;
    }
    .bg-color-new-green {
        background-color: #388E3C !important;
        color:white !important;
    }
    .f-z-15 {
        font-size: 15px;
    }
</style>
        


