<div class="card card-padding">
    <div class="card-body card-padding">
     <h3>Room Details</h3>  
    </div>
    {% if rooms %}
     <div class="row m-b-10">
        {% for room in rooms %}
        <div class="col-md-1">
            {% if room.is_cleaning %}  
            <div class="card palette-theme teal bg"> 
            {% elif room.is_booked %}  
            <div class="card palette-theme green bg">
            {% elif room.is_vacant %} 
            <div class="card palette-theme blue bg">
            {% else %}
            <div class="card palette-theme purple-400 bg">
            {% endif %}                
                <div class="card-body card-padding tz-white">                 
                    <div class='d-l-b m-r-45'>
                        <small class="stats-label tz-white p-r-3 f-15 d-b">{{room.code}}</small>
                    </div>                    
                </div>
            </div>
        </div> 
        {% endfor %}           
    </div>
    {% endif %}
</div>
        


