<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} | {{app_title}}</title>
		{% load static %}
        <!-- Vendor CSS -->

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

        <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->


        {% if is_need_chosen_select %}
        <link href="{% static 'vendors/bower_components/chosen/chosen.min.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_datetime_picker %}
        <link href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_popup_box %}
        <link href="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_select_picker %}
        <link href="{% static 'vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_calender %}
        <link href="{% static 'vendors/bower_components/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
        {% endif %}
        {% if is_need_animations %}
        <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
        {% endif %}               
        {% if is_need_custom_scroll_bar %}
        <link href="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">  
        {% endif %} 
        <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">     
        <link href="{% static 'vendors/bower_components/google-material-color/dist/palette.css' %}" rel="stylesheet">
        
        <!-- CSS -->
        <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet"> 
        
    </head>
    <body data-ma-header="{{current_theme}}">
        <header id="header" class="media">
            <div class="pull-left h-logo">
                <a href="{% url 'app' %}" class="hidden-xs">
                    ARKBOSS    
                    <small>The Hotel Assistant</small>
                </a>
                
                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            </div>

            {% include 'includes/top_menu.html' %}
            
            {% include 'includes/search.html' %}
            
        </header>

        <section id="main">
        	
            {% include 'includes/user_alerts.html' %}

            {% include 'includes/menu.html' %}
			
			{% block content %}
            <section id="content">
                <div class="action-header palette-theme {{current_theme}} bg clearfix">
                    <div class="ah-label palette-White text">{{title}}</div>
                    
                    <ul class="ah-actions actions a-alt">
                        
                        <li>
                            <a title="Filter" class="filter_button" href="">
                                <i class="zmdi zmdi-filter-list"></i>
                            </a>
                        </li>
                        <li>
                            <a title="Export Report" href="javascript:void(0);" class="export_to_excel">
                                <i class="zmdi zmdi-collection-text"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a target=_blank title="Print Report" href="{% url 'sales:print_report' %}?period={{period|default:''}}&year={{year|default:''}}&month={{month|default:''}}&from_date={{filter_from_date|default:''}}&to_date={{filter_to_date|default:''}}&date={{filter_date|default:''}}">
                                <i class="zmdi zmdi-print"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>

                <div class="container"> 
                    {% include 'includes/dashboard/report.html' %}
                    {% include 'includes/dashboard/recent_sales.html' %}
                    {% include 'includes/dashboard/recent_checkout.html' %}
                    <!-- <div id="c-grid" class="clearfix" data-columns>

	                    {% include 'includes/dashboard/recent_customers.html' %}
                        
                        {% include 'includes/dashboard/recent_products.html' %}

                    </div> -->
                </div>
                
            </section>
            
            {% endblock %}

            <footer id="footer" class="{{current_theme}}">
    			<div class="row">
    				
    				<div class="col-sm-3 logo m-b-10">
    					<a target="_blank" href="http://www.arkboss.com" class="btn logo btn-default waves-effect button-p"><img src="{% static 'img/logo.png' %}" alt="Arkboss Logo" /> Arkboss</a>
                    	
                    </div>
    				
    				{% if current_shop %}
                    <div class="col-sm-3 m-b-10">
                    	<div class="shop-switcher  card m-b-0">
                            <select class="selectpicker change_select reload" data-url="{% url 'switch_shop' %}" name="shop_switch">
			            		{% for access in shop_access %}
			            			{% ifequal access current_shop %}
				                		<option selected="selected" value="{{access.pk}}">{{access.name}}</option>
				                	{% else %}
				                		<option value="{{access.pk}}">{{access.name}}</option>
				                	{% endifequal %}
				                {% endfor %}
				            </select>
			            </div>
                    </div>

                    <div class="col-sm-3 m-b-10">
                        <div class="theme-switcher card m-b-0">
                            <select class="selectpicker change_select reload" data-url="{% url 'switch_theme' %}" name="switch_theme">
                                <option {% if current_theme == "teal" %} selected="selected" {% endif %} value="teal">Teal</option>
                                <option {% if current_theme == "blue" %} selected="selected" {% endif %} value="blue">Blue</option>
                                <option {% if current_theme == "bluegrey" %} selected="selected" {% endif %} value="bluegrey">Blue Grey</option>
                                <option {% if current_theme == "cyan-600" %} selected="selected" {% endif %} value="cyan-600">Cyan</option>
                                <option {% if current_theme == "green" %} selected="selected" {% endif %} value="green">Green</option>
                                <option {% if current_theme == "lightgreen" %} selected="selected" {% endif %} value="lightgreen">Light Green</option>
                                <option {% if current_theme == "purple-400" %} selected="selected" {% endif %} value="purple-400">Purple</option>
                                <option {% if current_theme == "pink-400" %} selected="selected" {% endif %} value="pink-400">Pink</option>
                                <option {% if current_theme == "brown" %} selected="selected" {% endif %} value="brown">Brown</option>
                                <option {% if current_theme == "grey-600" %} selected="selected" {% endif %} value="grey-600">Grey</option>
                                <option {% if current_theme == "orange" %} selected="selected" {% endif %} value="orange">Orange</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-sm-3 logo m-b-10">
                        <a href="{% url 'download_app' %}" data-text="Are you sure want to download APK ????" data-title="Are you sure?" class="action-button no-response-popup btn download-file btn-default waves-effect button-p"><img src="{% static 'img/android-logo.png' %}" alt="Download Android" /> Download App</a>
                        
                    </div>
                </div>
                    
                </div>
            	
            </footer>

        </section>

        {% if is_dashboard %}
        <div class="filter-box">
             <form method="get" action="{% url 'report' %}" class="ajax no-popup no-loader run-function-after" data-function="remove-popup-and-bg-update-graph">
                <div class="card">
                    <div class="card-header">
                        <h2>Filter <small></small></h2>
                        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
                    </div>
                    
                    <div class="card-body card-padding">
                        <div class="form-group fg-line">
                            <label>Year</label>
                            <input name="year" type="text" class="form-control" placeholder="yyyy" />
                        </div>
                        <div class="form-group fg-line">
                            <label>Month</label>
                            <select name="month" id="id_month" class="selectpicker">
                                <option value="">All</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group fg-line">
                            <label>Period</label>
                            <select name="period" id="id_period" class="selectpicker">
                                <option value="">All</option>
                                <option value="today">Today</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                        </div>
                        <div class="form-group fg-line">
                            <label>Date</label>
                            <input name="date" type="text" class="form-control date-picker" placeholder="Date" />
                        </div>
                        <div class="form-group fg-line">
                            <label>Date Period</label>
                            <div class="row">
                                <div class="col-md-6 m-b-20">
                                    <input name="from_date" type="text" class="form-control date-picker" placeholder="From Date" />
                                </div>
                                <div class="col-md-6">
                                    <input name="to_date" type="text" class="form-control date-picker" placeholder=" To Date" />
                                </div>
                            </div>    
                        </div>
                        
                        <div class="m-t-20">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                    </div>
                 </div>
             </form>
        </div>
        {% endif %}
        <!-- Page Loader -->
        <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
        </div>

         <!-- Modal SalaryPayment -->
        <div class="modal fade" id="salaryPayment" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Salary Payment</h4>
                    </div>
                    <form class="ajax reset show_toast" data-modal="salePayment" action="{% url 'finance:create_salary_payment_ajax' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                {{salary_payment_form.as_p}}
                                
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        {% include 'includes/shortcuts.html' %}
        
        {% include 'includes/extra/ie.html' %}

        {% include 'includes/extra/js.html' %}
        <style>
            .modal-body p {
                position: relative !important;
            }
        </style>
        {% if not payment_page %}
        <script type="text/javascript">
            function showHideFeeCreditUser(){
                var category = $('#feePayment #id_transaction_category option:selected').text();
                var $user_parent = $('#feePayment #id_shop_credit_user').parents('p');
                if(category == "debit"){
                    $user_parent.show();
                }else{
                    $user_parent.hide();
                }
            }
            
            function showHideFeeCashBank(){
                var mode = $('#feePayment #id_transaction_mode').val();
                var $bank_parents = $('.bank_item').parents('p');
                if (mode == "cash"){
                    $bank_parents.hide();
                    $('#feePayment #id_payment_to').val('cash_account').change();
                    $('#feePayment #id_cash_account').parents('p').show();
                }else{
                    $bank_parents.show();       
                    showHidePaymentModeItems();     
                }
            }
            
            function showHideSalaryCreditUser(){
                var category = $('#salaryPayment #id_transaction_category option:selected').text();
                var $user_parent = $('#salaryPayment #id_shop_credit_user').parents('p');
                if(category == "debit"){
                    $user_parent.show();
                }else{
                    $user_parent.hide();
                }
            }
            
            function showHideSalaryCashBank(){
                var mode = $('#salaryPayment #id_transaction_mode').val();
                var $bank_parents = $('.bank_item').parents('p');
                if (mode == "cash"){
                    $bank_parents.hide();
                    $('#salaryPayment #id_payment_to').val('cash_account').change();
                    $('#salaryPayment #id_cash_account').parents('p').show();
                }else{
                    $bank_parents.show();       
                    showHidePaymentModeItems();     
                }
            }
            
            function showHideSalaryPaymentModeItems(){
                var transaction_mode = $('#salaryPayment #id_transaction_mode').val();         
                if(transaction_mode == "bank"){
                    var mode = $('#salaryPayment #id_payment_mode').val();
                    var $cheque_parents = $('.cheque_item').parents('p');
                    var $card_parents = $('.card_item').parents('p');
                    if (mode == "cheque_payment"){
                        $cheque_parents.show();
                        $card_parents.hide();
                        $('#salaryPayment #id_payment_to').val('bank_account').change();
                        $('#salaryPayment #id_cash_account').parents('p').hide();
                        
                    }else if(mode == "card_payment"){
                        $cheque_parents.hide();
                        $card_parents.show();
                        $('#salaryPayment #id_payment_to').val('bank_account').change();
                        $('#salaryPayment #id_payment_to').parents('p').hide();
                        
                    }else if(mode == "internet_banking"){
                        $card_parents.hide();
                        $cheque_parents.hide();
                        $('#salaryPayment #id_payment_to').val('bank_account').change();
                        $('#salaryPayment #id_payment_to').parents('p').hide();
                    }
                    
                    showHidePaymentToItems();
                }           
            }
            
            function showHideSalaryPaymentToItems(){
                var transaction_mode = $('#salaryPayment #id_transaction_mode').val();
                if(transaction_mode == "bank"){
                    var to = $('#salaryPayment #id_payment_to').val();
                    if(to == "bank_account"){
                        $('#salaryPayment #id_bank_account').parents('p').show();
                        $('#salaryPayment #id_cash_account').parents('p').hide();
                    }else{
                        $('#salaryPayment #id_cash_account').parents('p').show();
                        $('#salaryPayment #id_bank_account').parents('p').hide();
                    }
                }
            }

            function showSalary($selector){  
                var staff_id = $selector.val();
                if(staff_id == "" || staff_id == null){
                    $('#id_amount').attr("value",0);
                }else{
                    var url = "{% url 'staffs:get_salary' %}";
                    $.ajax({
                        type : "GET",
                        url : url,
                        data: { 
                            id : staff_id
                        } ,
                        dataType : 'json',
                        success : function(data){
                            var status = data['status'];
                            var balance = data['balance'];                    
                            if(status == "true"){
                                $('#salaryPayment #id_amount').val(balance);
                            }
                        },
                    });
                }
            }

            $(document).ready(function(){

                showHideSalaryCreditUser();
                showHideSalaryCashBank();
                showHideSalaryPaymentModeItems();
                showHideSalaryPaymentToItems();

                
                $(document).on('change','#salaryPayment #id_transaction_category',function(){
                    showHideSalaryCreditUser();
                });
                
                $(document).on('change','#salaryPayment #id_transaction_mode',function(){
                    showHideSalaryCashBank();
                });
                
                $(document).on('change','#salaryPayment #id_payment_mode',function(){
                    showHideSalaryPaymentModeItems();
                });
                
                $(document).on('change','#salaryPayment #id_payment_to',function(){
                    showHideSalaryPaymentToItems();
                });
               
                $(document).on('change','#salaryPayment #id_staff',function(){
                    var $this = $(this)
                    showSalary($this);
                });

                $.fn.modal.Constructor.prototype.enforceFocus = function() {};
                
            });
        </script>
        {% if not purchase_page %}
        {{ salary_payment_form.media }}
        {% endif %}
        {% endif %}
        
        {% block static %}
            <script src="{% static 'js/chartJs/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    Report("today");

                    function Report(period){
                        var url = "{% url 'report' %}?period="+period;
                        $.ajax({
                            type : "GET",
                            url : url,
                            dataType : 'json',
                            success : function(data) {
                                var title = data['title'];

                                var expense_amounts = data['expense_amounts'];
                                var income_amounts = data['income_amounts'];
                                var date_list = data['date_list'];
                                var total_expense = data['total_expense'];
                                var total_income = data['total_income'];
                                var total_income = data['total_income'];

                                var total_sales_created = data['total_sales_created'];
                                var total_sales_amount = data['total_sales_amount'];
                                var total_other_income = data['total_other_income'];
                                var total_expense_amount = data['total_expense_amount'];
                                var total_sale_return_amount = data['total_sale_return_amount'];
                                var total_return_count = data['total_return_count'];
                                var this_period_total_expense_amount = data['this_period_total_expense_amount'];
                                var current_balance = data['current_balance'];
                                var total_profit_amount = data['total_profit_amount'];
                                var total_income_amount = data['total_income_amount'];

                                var expense_percentage = data['expense_percentage'];
                                var income_percentage = data['income_percentage'];

                                $("#id_total_income").html(total_income);
                                $("#id_total_expense").html(total_expense);

                                $("#id_total_sales_created").html(total_sales_created);
                                $("#id_total_sales_amount").html(total_sales_amount);
                                $("#id_total_other_income").html(total_other_income);
                                $("#id_total_expense_amount").html(total_expense_amount);
                                $("#id_this_period_total_expense_amount").html(this_period_total_expense_amount);
                                $("#id_total_sale_return_amount").html(total_sale_return_amount);
                                $("#id_return_count").html(total_return_count);
                                //$("#id_this_period_total_expense").html(total_expense_amount);
                                $("#id_current_balance").html(current_balance);
                                $("#id_total_profit_amount").html(total_profit_amount);
                                $("#id_total_income_amount").html(total_income_amount);

                                $("#id_expense_progress_bar").css('width',expense_percentage+"%");
                                $("#id_income_progress_bar").css('width',income_percentage+"%");
                                
                                var lineData = {
                                labels: date_list,
                                datasets: [
                                    {
                                        label: "Income",
                                        backgroundColor: "rgba(26,179,148,0.5)",
                                        borderColor: "rgba(26,179,148,0.7)",
                                        pointBackgroundColor: "rgba(26,179,148,1)",
                                        pointBorderColor: "#fff",
                                        data: income_amounts
                                    },
                                    {
                                        label: "Expense",
                                        backgroundColor: "rgba(236,250,6,0.5)",
                                        borderColor: "rgba(220,220,220,1)",
                                        pointBackgroundColor: "rgba(220,220,220,1)",
                                        pointBorderColor: "#fff",
                                        data: expense_amounts
                                    }
                                ]
                            };

                            var lineOptions = {
                                responsive: true
                            };


                            var ctx = document.getElementById("lineChart").getContext("2d");
                            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});

                            },
                            error : function(data){
                                console.log("Report not loaded");
                            }
                        }); 
                    }
                }); 

                               
            </script>

        {% endblock %}
		
		{% block filter_box %} {% endblock %}
		
		{% include 'includes/extra/shortcuts.html' %}
		
		{% include "users/user_timezone_set.html" %}
		
		<!-- {% include "includes/extra/check_notifications.html" %} -->
		
		<input type="hidden" value="{{user.username}}" id="username"/>
        <input type="hidden" value="{{block_auto_redirect|yesno:'yes,no'}}" id="auto_redirect"/>
		
    </body>
  </html>