{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
			
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>                              
                </ul>
            </div>
            <form target='_blank' action="{% url 'products:print_barcodes' %}" method="get">
            	
            	<div id="c-grid" class="clearfix" data-columns="2">
					<div class="card">
						<div class="card-header">
					        <h2>Basic Info <small></small></h2>
					    </div>
						<div class="card-body card-padding product">
                            <div class="form-group fg-line">
                                <label for="{{ form.product.id_for_label }}">
                                    {{ form.product.label }}
                                    {% if form.product.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.product.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.product.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.product }}
                                
                                {% if form.product.errors %}
                                    <label class="error">{{ form.product.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-0">
                                <label for="{{ form.unit.id_for_label }}">
                                    {{ form.unit.label }}
                                    {% if form.unit.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.unit.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.unit.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.unit }}
                                
                                {% if form.unit.errors %}
                                    <label class="error">{{ form.unit.errors.as_text }}</label>
                                {% endif %}
                            </div>
						</div> 
					</div>     
	               
	           </div>
					<div>
					    <button type="submit" class="btn btn-info waves-effect">Submit</button>
					</div>
                
             	</div>
         	</form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
	{% load static %}
    <script>
       $(document).ready(function(){

            $('input[type=text]').focus(function () { 
                $(this).select();
            });
            $('input[type=text]').mouseup(function (e) { // fix for chrome and safari
                e.preventDefault();
            });
            $('input[type=text]').select(function () {
                $('.log').append(' Handler for .select() called. ');
            });
        });
    </script>
	{{form.media}}
{% endblock %}