{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
			
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}} - {{instance.stock}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Add Product" href="{% url 'products:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_modify_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Product" href="{% url 'products:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Product" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'products:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            
            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Id</div>
                                    <small class="lgi-text">{{instance.a_id}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Name</div>
                                    <small class="lgi-text">{{instance.name}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">HSN</div>
                                    <small class="lgi-text">{{instance.hsn}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Code</div>
                                    <small class="lgi-text">{{instance.code}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Category</div>
                                    <small class="lgi-text">{{instance.category}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Sub Category</div>
                                    <small class="lgi-text">{{instance.subcategory}}</small>
                                </div>
                            </div>


                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Brand</div>
                                    <small class="lgi-text">{{instance.brand}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Vendor</div>
                                    <small class="lgi-text">{{instance.vendor|default:"-"}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Unit</div>
                                    <small class="lgi-text">{{instance.unit_type}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Stock</div>
                                    <small class="lgi-text">{{instance.stock}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Expiry before</div>
                                    <small class="lgi-text">{{instance.product_expiry_before}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Cost &amp; Price <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Cost</div>
                                    <small class="lgi-text">{{instance.cost}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Price</div>
                                    <small class="lgi-text">{{instance.price}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Wholesale Price</div>
                                    <small class="lgi-text">{{instance.wholesale_price}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Wholesale Tax Excluded Price</div>
                                    <small class="lgi-text">{{instance.wholesale_tax_excluded_price}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Tax Excluded Price</div>
                                    <small class="lgi-text">{{instance.tax_excluded_price}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Tax (Percentage)</div>
                                    <small class="lgi-text">{{instance.tax}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Discount</div>
                                    <small class="lgi-text">{{instance.discount}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if alternative_units %}
                <div class="card">
                    <div class="card-header">
                        <h2>Alternate units <small></small></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Cost</th>
                                        <th>Price</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in alternative_units %}
                                    <tr>
                                        <td>{{i.unit}}</td>
                                        <td>{{i.cost}}</td>
                                        <td>{{i.price}}</td>                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if expiry_dates %}
                <div class="card">
                    <div class="card-header">
                        <h2>Manufacture and Expiry date <small></small></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>MAnufacture Date</th>
                                        <th>Best before</th>
                                        <th>period</th>
                                        <th>Expiry Date</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in expiry_dates %}
                                    <tr>
                                        <td>{{i.manufacture_date}}</td>
                                        <td>{{i.best_before}}</td>
                                        <td>{{i.period}}</td>
                                        <td>{{i.expiry_date}}</td>                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}        
                
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated|timezone:user_time_zone}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div> 

        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}