{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
            	<h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
	            <div class="ah-label hidden-xs palette-White text">{{title}}</div>
	
	            <div class="ah-search">
	            	<form method="get" action="{% url 'products:products' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>
	
	            <ul class="ah-actions actions a-alt">
	                <li>
	                    <a title="Search" href="" class="ah-search-trigger" data-ma-action="ah-search-open">
	                        <i class="zmdi zmdi-search"></i>
	                    </a>
	                </li>
	                
	                <li>
	                    <a title="Filter" class="filter_button" href="">
	                        <i class="zmdi zmdi-filter-list"></i>
	                    </a>
	                </li>
	                {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
	                <li>
                        <a title="Create Product" href="{% url 'products:create' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
	                {% endif %}
	                {% if instances %}
	                <li>
                        <a title="Export Products" href="javascript:void(0);" class="export_to_excel">
                            <i class="zmdi zmdi-collection-text"></i>
                        </a>
                    </li>
	                <li>
	                    <a title="Select All" class="check_all" href="">
	                        <i class="zmdi zmdi-select-all"></i>
	                    </a>
	                </li>
	                 {% if is_superuser or 'can_delete_product' in user_instance.permissionlist %}
	                <li>
	                    <a title="Delete selected items" data-id="" href="{% url 'products:delete_selected_products' %}" data-text="{{confirm_delete_selected_message}}" data-title="Are you sure?" class="action-button reload selected-items-button">
	                        <i class="zmdi zmdi-delete"></i>
	                    </a>
	                </li>
                    {% endif %}
	                {% endif %}
	            </ul>
	            
	        </div>

            <div class="card">
				
				{% if instances %}
				
                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped table-vmiddle">
                        <thead>
                            <tr>
                            	<th style="width:20px;"></th>
                                <th data-column-id="id" data-type="numeric">ID</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Brand</th>
                                <th>Cost</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th data-column-id="action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% load el_pagination_tags %}
							{% paginate 21 instances %}
                        	{% for instance in instances %}
                            <tr class="check_items_row">
                            	<td style="width:20px;">
                            		<div class="checkbox lgi-checkbox m-t-5">
			                            <label>
			                                <input class="check check_item" type="checkbox" value="{{instance.pk}}" name="delete_item">
			                                <i class="input-helper"></i>
			                            </label>
			                        </div>
                            	</td>
                                <td>
                                	<a href="{% url 'products:product' pk=instance.pk %}">{{instance.a_id}}</a>
                                </td>
                                <td>
                                    <a href="{% url 'products:product' pk=instance.pk %}">{{instance.name}}</a>
                                </td>
                                <td>{{instance.code}}</td>
                                <td>{{instance.category|default:"-"}}</td>
                                <td>{{instance.subcategory|default:"-"}}</td>
                                <td>{{instance.brand|default:"-"}}</td>
                                <td>{{instance.cost}}</td>
                                <td>{{instance.price}}</td>
                                <td>{{instance.stock}}</td>
                                <td>
                                    {% if is_superuser or 'can_view_product' in user_instance.permissionlist %}
                                	<a href="{% url 'products:product' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    {% endif %}
                                    {% if is_superuser or 'can_modify_product' in user_instance.permissionlist %}
                                	<a href="{% url 'products:edit' pk=instance.pk %}" class="btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% endif %}
                                    {% if is_superuser or 'can_delete_product' in user_instance.permissionlist %}
                                	<a data-id="{{instance.pk}}" href="{% url 'products:delete' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-default btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-delete"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <!--pagination -->
                <div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
                	{% get_pages %}
                	<div class="row">
                		<div class="col-sm-6">
                			<div class="pagination">
                				{% show_pages %}
                			</div>
                		</div>
                		<div class="col-sm-6 infoBar">
                			<div class="infos">
                				Showing {{title}} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                			</div>
                		</div>
                	</div>
                </div>   
                <!--pagination-->
                
                {% else %}
                	{% include 'includes/not_found.html' %}
                {% endif %}            
            </div>
            
        </div>
    </section>
{% endblock %}

{% block filter_box %}
<div class="filter-box">
	 <form method="get" action="{% url 'products:products' %}">
	 	<div class="card">
			<div class="card-header">
		        <h2>Filter <small></small></h2>
		        <span class="back-button-poupup palette-Cyan bg white btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-arrow-back"></i> Back</span>
		    </div>
		    
			<div class="card-body card-padding">
			 	<div class="form-group fg-line">
		            <label>Query</label>
		            <input name="q" type="text" class="form-control" placeholder="Enter your query..."/>
		        </div>
		        <div class="form-group fg-line">
		            <label>Category</label>
		            <select name="category" class="chosen" data-placeholder="Choose a Category...">
                        <option></option>
                        {% for category in categories %}
                        <option value="{{category.pk}}">{{category.name}}</option>
                       	{% endfor %}
                    </select>
		        </div>
                <div class="form-group fg-line">
                    <label>Sub Category</label>
                    <select name="subcategory" class="chosen" data-placeholder="Choose a SubCategory...">
                        <option></option>
                        {% for subcategory in subcategories %}
                        <option value="{{subcategory.pk}}">{{subcategory.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="form-group fg-line">
                    <label>Brands</label>
                    <select name="brand" class="chosen" data-placeholder="Choose a brand...">
                        <option></option>
                        {% for brand in brands %}
                        <option value="{{brand.pk}}">{{brand.name}}</option>
                        {% endfor %}
                    </select>
                </div>
		        <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
		    </div>
		 </div>
	 </form>
</div>
{% endblock %}

{% block static %}
	{% load static %}	
	<script src="{% static 'vendors/bower_components/chosen/chosen.jquery.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".export_to_excel").click(function(){
                excelExport();
            });
            function excelExport() {
                var url = "{% url 'products:export_products' %}";
                $.ajax({
                    type : "GET",
                    url : url,
                    dataType : 'json',
                    data : {
                    },
                    success : function(data) {
                        var status = data['status'];
                        var file_url = data['file_url'];

                        if (status == "true"){
                            window.location.href = file_url;
                        }
                    },
                    error : function(data){
                    }
                });
            }
        });
    </script>
{% endblock %}