{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
			
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="{% url 'products:categories' %}">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Category" href="{% url 'products:create_category' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Category" href="{% url 'products:category' pk=instance.pk %}">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Category" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'products:delete_category' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}" method="get">
            	{% csrf_token %}
            	
            	<div id="c-grid" class="clearfix" data-columns="2">
					<div class="card">
						<div class="card-header">
					        <h2>Basic Info <small></small></h2>
					    </div>
						<div class="card-body card-padding">
                            {{ form.shop }}
                            <div class="form-group fg-line">
                                <label for="{{ form.unit_type.id_for_label }}">
                                    {{ form.unit_type.label }}
                                    {% if form.unit_type.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.unit_type.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.unit_type.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.unit_type }}
                                
                                {% if form.unit_type.errors %}
                                    <label class="error">{{ form.unit_type.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.code.id_for_label }}">
                                    {{ form.code.label }}
                                    {% if form.code.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.code.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.code.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.code }}
                                
                                {% if form.code.errors %}
                                    <label class="error">{{ form.code.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.unit_name.id_for_label }}">
                                    {{ form.unit_name.label }}
                                    {% if form.unit_name.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.unit_name.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.unit_name.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.unit_name }}
                                
                                {% if form.unit_name.errors %}
                                    <label class="error">{{ form.unit_name.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group fg-line">
                                <label for="{{ form.conversion_factor.id_for_label }}">
                                    {{ form.conversion_factor.label }}
                                    {% if form.conversion_factor.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.conversion_factor.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.conversion_factor.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                    </span>
                                </label>
                                {{ form.conversion_factor }}
                                
                                {% if form.conversion_factor.errors %}
                                    <label class="error">{{ form.conversion_factor.errors.as_text }}</label>
                                {% endif %}
                            </div>
						</div> 
                        
					</div> 
	                </div>
	                
					<div>
					    <button type="submit" class="btn btn-info waves-effect">Submit</button>
					</div>
                
             	</div>
         	</form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
	{% load static %}
	{{form.media}}
{% endblock %}