{% extends "base.html" %}
{% load i18n %}
{% load tz %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                        {% if "is_superuser" or 'can_create_damaged_product' in user_instance.permissionlist %}
                        <li>
                            <a title="Create Return" href="{% url 'sales:create_damaged_product' %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if "is_superuser" or 'can_view_damaged_product' in user_instance.permissionlist %}
                        <li>
                            <a title="View return" href="{% url 'sales:damaged_product' pk=instance.pk %}">
                                <i class="zmdi zmdi-eye"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if "is_superuser" or 'can_delete_damaged_product' in user_instance.permissionlist %}
                        <li>
                            <a title="Delete Return" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'sales:delete_damaged_product' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li> 
                        {% endif %} 
                    {% endif %}                              
                </ul>
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %} skip_empty_row not_allowed_without_formset" method="post" action="{{url}}">
                {% csrf_token %}

                <div class="card">
                    
                    <div class="table-responsive card-body card-padding add_item_container damaged_product_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="product">Product</th>
                                    <th data-column-id="qty">Qty</th>
                                    <th data-column-id="unit">Unit</th>
                                    <th data-column-id="price">Price</th> 
                                    <th data-column-id="cost">Cost</th>                                                  

                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in damaged_product_formset.forms %}               
                                <tr class="form_set_row">
                                    
                                    <td>
                                        {{ f.id }}
                                        <span class="damaged_product p-relative">                                 
                                            {{ f.product }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="damaged_product_qty check_empty p-relative">
                                            {{ f.qty }}
                                        </span>
                                    </td>
                                     <td>
                                        <span class="damaged_product_unit p-relative">
                                            {{ f.unit }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="damaged_product_price p-relative">
                                            {{ f.price }}
                                        </span>
                                    </td>                           
                                    <td>
                                        <span class="damaged_product_cost p-relative">
                                            {{ f.cost }}
                                        </span>

                                    </td>
                                    <td class="hidden">
                                        <span class="damaged_product_discount p-relative">
                                            <input type="text" >
                                        </span>

                                    </td>                                  
                                    <td class="one">{% if f.instance.pk %}{{ f.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ damaged_product_formset.management_form }}
                    </div> 
                </div>
                <div id="c-grid" class="clearfix" data-columns="2"> 
                    <div class="card col-2">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.time.id_for_label }}">
                                    {{ form.time.label }}
                                    {% if form.time.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if form.time.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                
                                {% if is_create_page %}
                                    {% timezone user_time_zone %}
                                        <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{% now "m-d-Y H:i:s" %}">
                                    {% endtimezone %}
                                {% else %}
                                    <input id="{{ form.time.id_for_label }}" type="text" class="required form-control date-time-picker"  name="{{form.time.html_name}}" placeholder="Enter time" value="{{ form.time.value|date:'m-d-Y H:i:s' }}">
                                {% endif %}
                                
                                
                                {% if form.time.errors %}
                                    <label class="error">{{ form.time.errors.as_text }}</label>
                                {% endif %}
                            </div>                        
                        </div> 
                    </div> 
                </div>
                <br class="clear" />
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>  
         </div> 
    </section>
{% endblock %}
{% block static %}
    {% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.damaged_product_formset table tr.form_set_row').formset({
                prefix: '{{ damaged_product_formset.prefix }}',
                formCssClass: 'dynamic-formset1',
                'added' : function (row) {
                    row.find('.damaged_product_unit select').selectpicker();
            }

            });
         
            $('.damaged_product_formset table tr.form_set_row').each(function(){
                $this = $(this);
                var product = $this.find('.damaged_product select');
                var unit = $this.find('.damaged_product_unit select');
                var returnable = $this.find('.damaged_product_is_returnable select');
                if(product != '' && product != null){
                    getInitialData(product,unit,returnable);
                }
            }); 
            $(document).on('change','.damaged_product_unit select',function(){
                $this = $(this);
                unit = $(this).val();
                if ($this.hasClass('first_time')){
                    $this.removeClass('first_time');
                } else {
                    product = $(this).find('option:selected').attr('data-product');
                    var $parent = $(this).parents('tr.form_set_row');
                    getUnitPrice(unit,product,$parent);
                }
            }); 
        });        
            
        function getUnitPrice(unit,product,$selector){
            var url = "{% url 'products:get_unit_price' %}";
            $.ajax({
                type : "GET",
                url : url,
                dataType : 'json',
                data : {
                    unit : unit,
                    product : product,
                },
                success : function(data) {
                    var qty = 1;
                    var status = data['status'];
                    var price = data['price'];
                    var cost = data['cost'];
                    if(status == "true"){
                        $selector.find('.damaged_product_price input').val(price);
                        $selector.find('.damaged_product_cost input').val(cost);
                    }
                },
                error : function(data){
                    remove_popup_box(); 
                }
            });
        }    

        function getProductInfo($selector,barcode){
            var url = "{% url 'products:get_product' %}";
            var id = $selector.val();
            var $parent = $selector.parents('tr.form_set_row');
            if(id != '' && id != null){
                var code = "no";
                if(barcode){
                    code = "yes";
                }
                show_loader();
                $.ajax({
                    type : "GET",
                    url : url,
                    dataType : 'json',
                    data : {
                        id : id,
                        barcode : code,
                    },
                    success : function(data) {
                        var qty = 1;
                        var status = data['status'];
                        var pk = data['pk'];
                        var name = data['name'];
                        var code = data['code'];
                        var stock = data['stock'];
                        var price = data['price'];
                        var cost = data['cost'];
                        var tax = data['tax'];
                        var units = data['units']; 
                        var unit = data['unit'];                       
                        var discount = data['discount'];
                        
                        if (status == "true"){
                            product_price = parseFloat(price)
                            tax_percentage = parseFloat(tax);
                            discount = parseFloat(discount);
                            tax_amount = 0;
                            if(tax_percentage){
                                tax_amount = tax_percentage * product_price * qty / 100
                            }
                            
                            var discount_amount = 0;
                            if(discount){
                                discount_amount = discount * price * qty / 100;
                            }

                            $parent.find('.damaged_product_qty input').val(qty);
                            $parent.find('.damaged_product_price input').val(price);
                            $parent.find('.damaged_product_tax input').val(tax);
                            $parent.find('.damaged_product_discount input').val(discount);
                            $parent.find('.damaged_product_cost input').val(cost);
                            $parent.find('.damaged_product_tax_amount input').val(tax_amount.toFixed(2));
                            $parent.find('.damaged_product_discount_amount input').val(discount_amount.toFixed(2));
                            $parent.find('.damaged_product_stock input').val(stock);
                            
                            var options = '';
                            for (var i = 0; i < units.length; i++) {
                                options += '<option data-product="' + pk + '" value="' + units[i].pk + '">' + units[i].name + ' (' + units[i].code + ')</option>';
                            }
                            $parent.find('.damaged_product_unit select').html(options).trigger("change").selectpicker('refresh');
                            
                            unit = $parent.find('.damaged_product_unit select').val();
                            getUnitPrice(unit,pk,$parent);
                            
                            if(barcode){
                                $parent.find('.damaged_product select.select2-hidden-accessible').html('<option value=' + pk + '>' + code +  '-' + name + '</option>');
                                var title = {{code}} + " - " {{name}}
                                $parent.find('.damaged_product .select2.select2-container').addClass();
                                $parent.find('.damaged_product select2 .select2-selection__rendered').attr('title',title);
                                
                                
                            }else{
                                $parent.find('.damaged_product_barcode input').val(code);
                            }
                            
                            
                            $('.add_item_container.damaged_product_formset .icon_add_item').click();  
                            $('.add_item_container.damaged_product_formset table tbody tr:nth-last-child(2) span.damaged_producttable .select2-container .select2-selection--single .select2-selection__rendered').click();
                            $('.add_item_container.damaged_product_formset table tbody tr:nth-last-child(2) span.damaged_product .select2-search--dropdown .select2-search__field').focus();
                        }   
                        remove_popup();                     
                    },
                    error : function(data){
                        remove_popup(); 
                        var title = "An error occurred";
                        var message = "An error occurred. Please try again later."; 
                        swal(title, message, "error");
                    }
                });                 
            }else{
                    $parent.find('input').val('');
                    $parent.find('span.damaged_product_unit select').html('<option selected="selected" value="">---------</option>').trigger("change").selectpicker('refresh');
                }
       }

        function getInitialData($selector,$unit,$returnable){
            var url = "{% url 'products:get_product' %}";
            var id = $selector.val();
            var unit_value = $unit.val();
            returnable_value = $returnable.val();
            var $parent = $selector.parents('tr.form_set_row');
            if(id != '' && id != null){
                show_loader();
                $.ajax({
                    type : "GET",
                    url : url,
                    dataType : 'json',
                    data : {
                        id : id,
                    },
                    success : function(data) {
                        var qty = 1;
                        qty = $parent.find('.damaged_product_qty input').val();
                        var status = data['status'];
                        var pk = data['pk'];
                        var name = data['name'];
                        var code = data['code'];
                        var stock = data['stock'];
                        var price = data['price'];
                        var cost = data['cost'];
                        var tax = data['tax'];
                        var units = data['units'];                       
                        var discount = data['discount'];        
                        
                        if (status == "true"){
                            product_price = parseFloat(price)
                            tax_percentage = parseFloat(tax);
                            tax_amount = 0;
                            if(tax_percentage){
                                tax_amount = tax_percentage * product_price * qty / 100
                            }

                            $parent.find('.damaged_product_tax input').val(tax);
                            $parent.find('.damaged_product_tax_amount input').val(tax_amount.toFixed(2));
                            $parent.find('.damaged_product_barcode input').val(code);
                            $parent.find('.damaged_product_discount input').val(discount);
                            $parent.find('.damaged_product_is_returnable select').val(returnable_value).selectpicker().trigger("change");
                            var options = '';
                            for (var i = 0; i < units.length; i++) {
                                options += '<option data-product="' + pk + '" value="' + units[i].pk + '">' + units[i].name + ' (' + units[i].code + ')</option>';
                            }
                            $parent.find('.damaged_product_unit select').addClass('first_time').html(options).trigger("change").val(unit_value).selectpicker('refresh');
                            
                            
                        }   
                        remove_popup();                     
                    },
                    error : function(data){
                        remove_popup(); 
                        var title = "An error occurred";
                        var message = "An error occurred. Please try again later."; 
                        swal(title, message, "error");
                    }
                });                 
            } 
        }

       $(document).on('change','tr.form_set_row .damaged_product select',function(){
            $selector = $(this);
            getProductInfo($selector,false);
       });
       $(document).on('change keyup','.damaged_product_qty input',function(){
            var $this = $(this);
            var qty = $this.val();
            var $parent = $this.parents("tr.form_set_row");
            var price = $parent.find(".damaged_product_price input").val();
            var cost = $parent.find(".damaged_product_cost input").val();
            price = price * qty
            cost = cost * qty
            $parent.find('.damaged_product_price input').val(price);
            $parent.find('.damaged_product_cost input').val(cost);
        });
       $(document).on('keypress','tr.form_set_row .damaged_product_barcode input',function(event){
            if (event.which == '10' || event.which == '13') {
                event.preventDefault();
                $selector = $(this);
                getProductInfo($selector,true);
            }
       });
       
       $(document).keydown(function(e) {
            if (e.altKey) {
                if (e.keyCode == 40) {
                    $('.add_item_container .icon_add_item').click();    
                    return false;
                }
                if (e.keyCode == 38) {
                    $('.add_item_container table tr:nth-last-child(2) td:last-child .icon.icon-trash').click();
                    return false;
                }
            }
        });
    </script>

 {{damaged_product_formset.media}}   
{% endblock %}