{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                        {% if "is_superuser" or 'can_create_product_return' in user_instance.permissionlist %}
                        <li>
                            <a title="Create Return" href="{% url 'sales:create_sale_return' %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if "is_superuser" or 'can_view_product_return' in user_instance.permissionlist %}
                        <li>
                            <a title="View return" href="{% url 'sales:sale_return' pk=instance.pk %}">
                                <i class="zmdi zmdi-eye"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if "is_superuser" or 'can_delete_product_return' in user_instance.permissionlist %}
                        <li>
                            <a title="Delete Return" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'sales:delete_sale_return' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li> 
                        {% endif %} 
                    {% endif %}                              
                </ul>
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.vendor.id_for_label }}">
                                        {{ form.vendor.label }}
                                        {% if form.vendor.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.vendor.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.vendor.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                        {% endif %}
                                    </label>
                                    {{ form.vendor }}
                                    
                                    {% if form.vendor.errors %}
                                        <label class="error">{{ form.vendor.errors.as_text }}</label>
                                    {% endif %}
                                </div>                        
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-5">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line m-b-0">
                                    <label>Sub Total</label>
                                    <input id="sub_total_amount" class="form-control" disabled type="text" value="0.00" />
                                </div>                       
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 p-l-5 p-r-5">
                        <div class="card m-b-0">
                            <div class="card-body p-10">
                                <div class="form-group m-b-10 fg-line">
                                    <label for="{{ form.amount_returned.id_for_label }}">
                                        {{ form.amount_returned.label }}
                                        {% if form.amount_returned.field.required %}
                                            <small class="star">*</small>
                                        {% endif %}
                                        
                                        {% if form.amount_returned.help_text %}
                                            <span data-original-title="Field Info" title="" data-content="{{ form.amount_returned.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline"></span>
                                        {% endif %}
                                    </label>
                                    {{ form.amount_returned }}
                                    
                                    {% if form.amount_returned.errors %}
                                        <label class="error">{{ form.amount_returned.errors.as_text }}</label>
                                    {% endif %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {% if damaged_products %}
                    <div class="table-responsive  product_list_container">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th style="width:20px;"></th>
                                    <th data-column-id="product">Product</th>
                                    <th data-column-id="qty">Qty</th>
                                    <th data-column-id="unit">Unit</th>
                                    <th data-column-id="price">Price</th>
                                    <th data-column-id="sub_total">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in damaged_products %}
                            <tr class="return_data">
                                <td style="width:20px;"><div class="checkbox lgi-checkbox m-t-5">
                                        <label>
                                            <input class="check check_item return_product_check" data-unit="{{item.unit.pk}}" type="checkbox" data-qty="{{item.actual_qty}}" value="{{item.product.pk}}" name="product_pk">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td class="product_datail">
                                    {{item.product.code}} - {{item.product.name}}
                                </td>
                                <td>
                                    <span class="sale_return_item_qty p-relative">
                                        {{item.qty}}
                                    </span>
                                </td>
                                <td>
                                    {{item.unit}}
                                </td>
                                <td class="product_price">
                                    {{item.price}}
                                </td>
                                <td>
                                    <span class="sale_return_item_subtotal p-relative">
                                        <input type="text" disabled class="form-control" value="{{item.subtotal}}" />
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        {% include 'includes/not_found.html' %}
                    {% endif %}
                </div>
                <div class="card">
                        <div class="card-header">
                            <h2>Transaction Details <small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line">
                                <label for="{{ form.transaction_mode.id_for_label }}">
                                    {{ transaction_form.transaction_mode.label }}
                                    {% if transaction_form.transaction_mode.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.transaction_mode.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.transaction_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.transaction_mode }}
                                
                                {% if transaction_form.transaction_mode.errors %}
                                    <label class="error">{{ transaction_form.transaction_mode.errors.as_text }}</label>
                                {% endif %}
                            </div>

                             <div class="form-group fg-line">
                                <label for="{{ form.payment_mode.id_for_label }}">
                                    {{ transaction_form.payment_mode.label }}
                                    {% if transaction_form.payment_mode.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.payment_mode.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.payment_mode.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.payment_mode }}
                                
                                {% if transaction_form.payment_mode.errors %}
                                    <label class="error">{{ transaction_form.payment_mode.errors.as_text }}</label>
                                {% endif %}
                            </div>
                            
                            <div class="form-group fg-line m-b-0">
                                <label for="{{ form.cheque_details.id_for_label }}">
                                    {{ transaction_form.cheque_details.label }}
                                    {% if transaction_form.cheque_details.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.cheque_details.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.cheque_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.cheque_details }}
                                
                                {% if transaction_form.cheque_details.errors %}
                                    <label class="error">{{ transaction_form.cheque_details.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="row">
                                    <div class="form-group col-sm-5 m-b-20">
                                        <div class="toggle-switch">
                                            <label class="ts-label" for="{{ form.is_cheque_withdrawed.id_for_label }}">
                                                {{ transaction_form.is_cheque_withdrawed.label }}
                                                {% if transaction_form.is_cheque_withdrawed.field.required %}
                                                    <small class="star">*</small>
                                                {% endif %}
                                                
                                                {% if transaction_form.is_cheque_withdrawed.help_text %}
                                                    <span data-original-title="Field Info" title="" data-content="{{ form.is_cheque_withdrawed.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                                {% endif %}
                                            </label>
                                            {{ transaction_form.is_cheque_withdrawed }}
                                            <label class="ts-helper" for="ts1"></label>
                                        </div>
                                        
                                        {% if transaction_form.is_cheque_withdrawed.errors %}
                                            <label class="error">{{ transaction_form.is_cheque_withdrawed.errors.as_text }}</label>
                                    {% endif %}
                                    </div>
                                </div>

                            <div class="form-group fg-line m-b-0">
                                <label for="{{ form.card_details.id_for_label }}">
                                    {{ transaction_form.card_details.label }}
                                    {% if transaction_form.card_details.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.card_details.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.card_details.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.card_details }}
                                
                                {% if transaction_form.card_details.errors %}
                                    <label class="error">{{ transaction_form.card_details.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line">
                                <label for="{{ form.payment_to.id_for_label }}">
                                    {{ transaction_form.payment_to.label }}
                                    {% if transaction_form.payment_to.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.payment_to.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.payment_to.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.payment_to }}
                                
                                {% if transaction_form.payment_to.errors %}
                                    <label class="error">{{ transaction_form.payment_to.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-0">
                                <label for="{{ form.bank_account.id_for_label }}">
                                    {{ transaction_form.bank_account.label }}
                                    {% if transaction_form.bank_account.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.bank_account.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.bank_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.bank_account }}
                                
                                {% if transaction_form.bank_account.errors %}
                                    <label class="error">{{ form.bank_account.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-5">
                                <label for="{{ form.cash_account.id_for_label }}">
                                    {{ transaction_form.cash_account.label }}
                                    {% if transaction_form.cash_account.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.cash_account.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.cash_account.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.cash_account }}
                                
                                {% if transaction_form.cash_account.errors %}
                                    <label class="error">{{ transaction_form.cash_account.errors.as_text }}</label>
                                {% endif %}
                            </div>

                            <div class="form-group fg-line m-b-0">
                                <label for="{{ form.shop_credit_user.id_for_label }}">
                                    {{ transaction_form.shop_credit_user.label }}
                                    {% if transaction_form.shop_credit_user.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}
                                    
                                    {% if transaction_form.shop_credit_user.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.shop_credit_user.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ transaction_form.shop_credit_user }}
                                
                                {% if transaction_form.shop_credit_user.errors %}
                                    <label class="error">{{ transaction_form.shop_credit_user.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div> 
                    </div> 
                
                </div>
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>  
         </div> 
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <style>
        .row {
             margin-left: -5px !important; 
             margin-right: -5px !important; 
        }
        .return_product_check input {
            width: 150px;
        }
    </style>

    <script>
        function showHideCreditUser(){
            var category = $('#id_transaction_category option:selected').text();
            var $user_parent = $('#id_shop_credit_user').parents('div.form-group');
            if(category == "debit"){
                $user_parent.show();
            }else{
                $user_parent.hide();
            }
        }
        
        function showHideCashBank(){
            var mode = $('#id_transaction_mode').val();
            var $bank_parents = $('.bank_item').parents('div.form-group');
            if (mode == "cash"){
                $bank_parents.hide();
                $('#id_payment_to').val('cash_account').change();
                $('#id_cash_account').parents('div.form-group').show();
            }else{
                $bank_parents.show();       
                showHidePaymentModeItems();     
            }
        }
        
        function showHidePaymentModeItems(){
            var transaction_mode = $('#id_transaction_mode').val();         
            if(transaction_mode == "bank"){
                var mode = $('#id_payment_mode').val();
                var $cheque_parents = $('.cheque_item').parents('div.form-group');
                var $card_parents = $('.card_item').parents('div.form-group');
                if (mode == "cheque_payment"){
                    $cheque_parents.show();
                    $card_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_cash_account').parents('div.form-group').hide();
                    
                }else if(mode == "card_payment"){
                    $cheque_parents.hide();
                    $card_parents.show();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                    
                }else if(mode == "internet_banking"){
                    $card_parents.hide();
                    $cheque_parents.hide();
                    $('#id_payment_to').val('bank_account').change();
                    $('#id_payment_to').parents('div.form-group').hide();
                }
                
                showHidePaymentToItems();
            }           
        }
        
        function showHidePaymentToItems(){
            var transaction_mode = $('#id_transaction_mode').val();
            if(transaction_mode == "bank"){
                var to = $('#id_payment_to').val();
                if(to == "bank_account"){
                    $('#id_bank_account').parents('div.form-group').show();
                    $('#id_cash_account').parents('div.form-group').hide();
                }else{
                    $('#id_cash_account').parents('div.form-group').show();
                    $('#id_bank_account').parents('div.form-group').hide();
                }
            }
        }

        $(document).ready(function(){
            showHideCreditUser();
            showHideCashBank();
            showHidePaymentModeItems();
            showHidePaymentToItems();
            calculate();
            $(document).on('change','#id_transaction_category',function(){
                showHideCreditUser();
            });
            
            $(document).on('change','#id_transaction_mode',function(){
                showHideCashBank();
            });
            
            $(document).on('change','#id_payment_mode',function(){
                showHidePaymentModeItems();
            });
            
            $(document).on('change','#id_payment_to',function(){
                showHidePaymentToItems();
            });

        });


        $(document).on('change','.return_product_check', function() {
            var $this = $(this);
            var $parent = $this.parents('tr');
            var qty = $this.attr('data-qty');
            var unit = $this.attr('data-unit');
            if($this.is(":checked")) {
                
                var input_el = '<input type="text" class="form-control" name="returned_qty" value="'+ qty+ '" />';
                var unit_el = '<input type="hidden" name="returned_product_unit" value="'+unit+'">';
                var status_select = '<select name="status" class="form-control selectpicker"><option value="damaged">Damaged</option><option value="returnable">Returnable</option></select>'
                $parent.find('.sale_return_item_qty').html(input_el);
                $parent.find('.product_datail').append(unit_el);
                $parent.find('.sale_return_item_status').html(status_select);
                $('.selectpicker').selectpicker('refresh');
                calculate();
            } else {
                $parent.find('.sale_return_item_qty').html(qty);
                $parent.find('.product_datail input').remove();
                calculate();
            }       
        });

        $(document).on('change, keyup','.sale_return_item_qty input',function(){
            calculate();
        });

        function calculate(){
            var return_item_total = 0;
            $('.product_list_container table tr.return_data').each(function(){
                $this = $(this);
                if ($this.find('.return_product_check').is(":checked")) {
                    var qty = parseFloat($this.find('.sale_return_item_qty input').val());
                    if(!qty){
                        qty = 0;
                    }
                    var purchased_qty = $this.find('.return_product_check').attr('data-qty');
                    if(!purchased_qty){
                        purchased_qty = 0;
                    }
                    
                    var price = parseFloat($this.find('.product_price').text());
                    if(!price){
                        price = 0;
                    }

                    var subtotal = qty *price ;

                    return_item_total += subtotal;
                    $this.find('.sale_return_item_subtotal input').val(subtotal);
                }
                
            });
            $('#sub_total_amount').val(return_item_total.toFixed(2));
            $('#id_amount_returned').val(return_item_total.toFixed(2));

        }
    </script>
    {{form.media}}
{% endblock %}