{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input housed_birds="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                    <li>
                        <a title="Create Private Farm Report" href="">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="View Private Farm Report" href="">
                            <i class="zmdi zmdi-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Delete Private Farm Report" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <form class="" method="post" action="{{url}}">
                {% csrf_token %}

                <div id="c-grid" class="clearfix" data-columns="2">
                    <div class="card">
                        <br />
                        <div class="card-header">
                            <h2>Sale<small></small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="form-group fg-line sale">
                                <label for="{{ form.sale.id_for_label }}">
                                    {{ form.sale.label }}
                                    {% if form.sale.field.required %}
                                        <small class="star">*</small>
                                    {% endif %}

                                    {% if form.sale.help_text %}
                                        <span data-original-title="Field Info" title="" data-content="{{ form.sale.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                    {% endif %}
                                </label>
                                {{ form.sale }}

                                {% if form.sale.errors %}
                                    <label class="error">{{ form.sale.errors.as_text }}</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block static %}
    {% load static %}
    <script>
    function submit(){
        $('form').submit();

     }
     $(document).on('change keyup','#id_sale',function(){
        submit();
    });
    </script>
    {{form.media}}

{% endblock %}
